/**
 * Block
 */

.hds-link {
  --_link-color: var(--hds-colors-neutral-text-default);

  color: var(--_link-color);
  fill: currentcolor;
  transition-duration: var(--hds-micro-animation-duration-quick);
  transition-timing-function: var(--hds-micro-animation-easing-normal);
  transition-property: color, fill, text-decoration-color;
  cursor: pointer;
  text-decoration-line: underline;
  text-decoration-thickness: var(--hds-stroke-default);
  text-decoration-color: var(--hds-colors-border-default);
  text-underline-offset: 0.25em;

  &:hover,
  &:active {
    color: var(--hds-colors-text-subtle);
    fill: currentcolor;
    text-decoration-color: var(--hds-colors-text-subtle);
  }

  /**
   * Modifers
   */

  &.hds-link--no-underline {
    /* color: var(--hds-colors-neutral-text-default); */
    text-decoration: none;

    &:hover,
    &:active {
      color: var(--hds-colors-text-subtle);
      text-decoration: underline;
      text-decoration-color: var(--hds-colors-border-strong);
    }
  }

  &.hds-link--solid {
    /* color: var(--hds-colors-neutral-text-default); */
    text-decoration-color: currentcolor;

    &:hover {
      color: var(--hds-colors-text-subtle);
      text-decoration: none;
    }
  }

  /**
   * Sizes
   */
  &.hds-link--small {
    font: var(--hds-typography-body-small);
  }

  &.hds-link--large {
    font: var(--hds-typography-h3);
  }

  &.hds-link--technical {
    font: var(--hds-typography-technical);
  }

  /**
  * Icons 
  */

  &.hds-link--leading-icon svg,
  &.hds-link--trailing-icon svg {
    width: 1em;
    height: 1em;
    fill: currentcolor;
    vertical-align: middle;
    margin-bottom: 2px;
  }

  &.hds-link--leading-icon svg {
    margin-right: 10px;
  }

  &.hds-link--trailing-icon svg {
    margin-left: 10px;
  }

  /**
   * When styling a button as a link
   */
  &:is(button) {
    padding: 0;
    background: none;
    border: 0;

    /* Button inherits the font size from the user agent by default  */
    &:not(.hds-link--small, .hds-link--large) {
      font: var(--hds-typography-body);
    }
  }
}

[data-color="info"],
[data-color="success"],
[data-color="warning"],
[data-color="error"] {
  .hds-link {
    --_link-color: var(--hds-colors-base-contrast-default);
  }
}
