/**
 * Block
 */

.hds-link {
  text-decoration: none;
  border-bottom: var(--hds-stroke-default) solid var(--hds-brand-link-colors-underline);
  fill: var(--hds-brand-link-colors-text);
  color: var(--hds-brand-link-colors-text);
  transition: all var(--hds-micro-animation-duration-quick) var(--hds-micro-animation-easing-normal);
  cursor: pointer;

  &:hover,
  &:active {
    color: var(--hds-brand-link-colors-hover);
    fill: var(--hds-brand-link-colors-hover);
    border-color: var(--hds-brand-link-colors-underline-hover);

    & .hds-link__text {
      border-color: var(--hds-brand-link-colors-underline-hover);
    }
  }

  /**
   * Modifers
   */

  &.hds-link--inverted {
    color: var(--hds-ui-colors-white);
    text-decoration-color: var(--hds-brand-colors-signature);
    border-color: currentcolor;

    &:hover,
    &:active {
      color: var(--hds-brand-colors-light);
      border-color: currentcolor;
    }

    &:disabled {
      color: var(--hds-ui-colors-dark-grey);
      fill: currentcolor;
      border-color: currentcolor;
      outline: 0 !important;
      box-shadow: none !important;
      cursor: default;
    }
  }

  &.hds-link--small {
    font: var(--hds-typography-body-small);
  }

  &.hds-link--large {
    font: var(--hds-typography-header-h3);
  }

  &.hds-link--no-underline {
    font-family: var(--hds-fonts-posten-sans-medium);
    color: var(--hds-brand-colors-dark);
    text-decoration: none;
    border-bottom: none;

    &:hover {
      color: var(--hds-brand-colors-dark);
      text-decoration: underline;
      text-decoration-color: var(--hds-brand-colors-dark);
      border-bottom: none;
    }
  }

  &.hds-link--solid {
    color: var(--hds-ui-colors-black);
    border-color: var(--hds-ui-colors-black);

    &:hover,
    &:active {
      color: var(--hds-ui-colors-black-hover);
      border-color: var(--hds-ui-colors-black-hover);
    }
  }
}
