/**
 * Block
 */

.hds-link {
  color: var(--hds-link-colors-text);
  fill: currentcolor;
  transition-duration: var(--hds-micro-animation-duration-quick);
  transition-timing-function: var(--hds-micro-animation-easing-normal);
  transition-property: color, fill, text-decoration-color;
  cursor: pointer;
  text-decoration-line: underline;
  text-decoration-thickness: var(--hds-stroke-default);
  text-decoration-color: var(--hds-link-colors-underline);
  text-underline-offset: 0.25em;

  &:hover,
  &:active {
    color: var(--hds-link-colors-hover);
    fill: currentcolor;
    text-decoration-color: var(--hds-link-colors-underline-hover);
  }

  /**
   * Modifers
   */

  &.hds-link--inverted {
    color: var(--hds-ui-colors-white);
    text-decoration-color: var(--hds-colors-signature);

    &:hover {
      text-decoration: none;
    }

    &:disabled {
      color: var(--hds-ui-colors-dark-grey);
      fill: currentcolor;
      text-decoration-color: currentcolor;
      outline: 0 !important;
      box-shadow: none !important;
      cursor: default;
    }
  }

  &.hds-link--inverted-no-underline {
    color: var(--hds-ui-colors-white);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      text-decoration-color: var(--hds-ui-colors-white);
    }
  }

  &.hds-link--no-underline {
    color: var(--hds-ui-colors-black);
    text-decoration: none;

    &:hover,
    &:active {
      color: var(--hds-colors-dark);
      text-decoration: underline;
      text-decoration-color: currentcolor;
    }
  }

  &.hds-link--solid {
    color: var(--hds-ui-colors-black);
    text-decoration-color: currentcolor;

    &:hover {
      color: var(--hds-colors-dark);
      text-decoration: none;
    }
  }

  /**
   * Sizes
   */
  &.hds-link--small {
    font: var(--hds-typography-body-small);
  }

  &.hds-link--large {
    font: var(--hds-typography-h3);
  }

  &.hds-link--technical {
    font: var(--hds-typography-technical);
  }

  /**
  * Icons 
  */

  &.hds-link--leading-icon svg,
  &.hds-link--trailing-icon svg {
    width: 1em;
    height: 1em;
    fill: currentcolor;
    vertical-align: middle;
    margin-bottom: 2px;
  }

  &.hds-link--leading-icon svg {
    margin-right: 10px;
  }

  &.hds-link--trailing-icon svg {
    margin-left: 10px;
  }

  /**
   * When styling a button as a link
   */
  &:is(button) {
    padding: 0;
    background: none;
    border: 0;

    /* Button inherits the font size from the user agent by default  */
    &:not(.hds-link--small, .hds-link--large) {
      font: var(--hds-typography-body);
    }
  }
}
