@import url("../_custom-media.css");
@import url("../_icons.css");

.hds-breadcrumbs {
  padding: 0;
  list-style-type: none;
  display: flex;

  /*
   * Ensure the caption typography is used
   * Override general styling for links that sets the font-size
   */
  &,
  & a {
    font: var(--hds-typography-caption);
  }

  & li {
    /*
     * Design in Figma has an extra 2px distance between
     * the text and underline border on links
     * making the total height 21px
     */
    .hds-link {
      padding-bottom: 2px;
    }

    &:first-child {
      &::before {
        display: none;
      }
    }

    &:last-child {
      color: var(--hds-ui-colors-dark-grey);
    }

    &::before {
      display: inline-block;
      background-image: var(--_hds-icons-cheveron-right-dark-grey);
      width: 20px;
      height: 20px;
      margin: 0 var(--hds-spacing-4);
    }

    @media (--before-medium) {
      &:not(:only-child) {
        display: none;
      }

      &:nth-last-of-type(2) {
        display: inherit;

        &::before {
          display: inline-block;
          margin-left: 0;
          background-image: var(--_hds-icons-cheveron-left-black);
        }
      }
    }
  }
}
