label.hds-dropdown__label {
  transition: color var(--hds-micro-animation-duration-normal)
    var(--hds-micro-animation-easing-normal);
  font: var(--hds-typography-caption);
  color: var(--hds-ui-colors-black);
  margin-bottom: 0;
  display: block;
  text-align: left;
}

select.hds-dropdown {
  position: relative;
  border: var(--hds-stroke-default) solid transparent;
  border-radius: var(--hds-border-radius);
  font: var(--hds-typography-body-small);
  display: flex;
  width: 100%;
  height: 58px; /* should this be a token? */
  cursor: pointer;
  color: var(--hds-ui-colors-black);
  appearance: none;
  padding: var(--hds-spacing-small-4);
  transition:
    border-color var(--hds-micro-animation-duration-normal) var(--hds-micro-animation-easing-normal),
    max-height var(--hds-micro-animation-duration-normal) var(--hds-micro-animation-easing-normal),
    transform var(--hds-micro-animation-duration-normal) var(--hds-micro-animation-easing-normal);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-image:
    linear-gradient(45deg, transparent 74%, var(--hds-ui-colors-light-grey-fill) 0%),
    linear-gradient(135deg, var(--hds-ui-colors-light-grey-fill) 26%, transparent 26%),
    /* Draw the arrow */
      linear-gradient(
        135deg,
        transparent 0,
        transparent 72%,
        var(--hds-ui-colors-light-grey-fill) 73%,
        var(--hds-ui-colors-light-grey-fill) 100%
      ),
    linear-gradient(
      45deg,
      var(--hds-ui-colors-light-grey-fill) 0,
      var(--hds-ui-colors-light-grey-fill) 28%,
      var(--hds-ui-colors-dark-grey) 29%,
      var(--hds-ui-colors-dark-grey) 37%,
      transparent 38%,
      transparent 100%
    ),
    linear-gradient(
      135deg,
      transparent 0,
      transparent 62%,
      var(--hds-ui-colors-dark-grey) 63%,
      var(--hds-ui-colors-dark-grey) 71%,
      var(--hds-ui-colors-light-grey-fill) 72%,
      var(--hds-ui-colors-light-grey-fill) 100%
    );
  background-size: var(--hds-spacing-small-4) var(--hds-spacing-small-4);
  background-position: calc(100% - var(--hds-spacing-small-4)) 45%;
  background-repeat: no-repeat;

  /* Clearfix */
  &::after {
    display: table;
    content: " ";
    clear: both;
  }

  &.hds-dropdown--error {
    position: relative;
    border-bottom: var(--hds-stroke-thick) solid var(--hds-ui-colors-warning-yellow);
    margin-bottom: calc(var(--hds-stroke-thick) - var(--hds-stroke-default));
  }
}

select.hds-dropdown--default {
  background-color: var(--hds-ui-colors-light-grey-fill);
}

select.hds-dropdown--lined {
  background-color: transparent;
  border-bottom: var(--hds-stroke-default) solid var(--hds-ui-colors-grey);
  padding-left: 0;
  padding-top: var(--hds-spacing-small-1);
  padding-bottom: var(--hds-spacing-small-3);
  border-radius: 0;

  &:focus {
    border-bottom: var(--hds-stroke-default) solid var(--hds-ui-colors-grey);
  }

  &[disabled],
  &:disabled,
  &[disabled="disabled"] {
    background-color: transparent;
    padding: var(--hds-spacing-small-4);
  }
}

select.hds-dropdown--white {
  background-color: var(--hds-ui-colors-white);

  /* Place the arrow, created below */

  /* background-position: calc(100% - var(--hwc-spacing-small-4)) 45%; */
}

select.hds-dropdown--lined,
select.hds-dropdown--white {
  background-image:
        /* Cut off the sharp ends of the arrow */
    linear-gradient(45deg, transparent 74%, var(--hds-ui-colors-white) 0%),
    linear-gradient(135deg, var(--hds-ui-colors-white) 26%, transparent 26%),
    /* Draw the arrow */
      linear-gradient(
        135deg,
        transparent 0,
        transparent 72%,
        var(--hds-ui-colors-white) 73%,
        var(--hds-ui-colors-white) 100%
      ),
    linear-gradient(
      45deg,
      var(--hds-ui-colors-white) 0,
      var(--hds-ui-colors-white) 28%,
      var(--hds-ui-colors-dark-grey) 29%,
      var(--hds-ui-colors-dark-grey) 37%,
      transparent 38%,
      transparent 100%
    ),
    linear-gradient(
      135deg,
      transparent 0,
      transparent 62%,
      var(--hds-ui-colors-dark-grey) 63%,
      var(--hds-ui-colors-dark-grey) 71%,
      var(--hds-ui-colors-white) 72%,
      var(--hds-ui-colors-white) 100%
    );
  background-size: var(--hds-spacing-small-4) var(--hds-spacing-small-4);
  background-repeat: no-repeat;
}

.hds-dropdown--error {
  .hds-dropdown-message {
    font: var(--hds-typography-caption-title);
    color: var(--hds-ui-colors-dark-grey);
    padding: var(--hds-spacing-small-1) 0 0 var(--hds-spacing-small-4);
  }
}
