@import url("../../_custom-media.css");

.hds-container {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 0 var(--hds-spacing-small-4);
  width: 100%;

  &, /* Default */
  &.hds-container--default {
    /* 720px - max-width: 590px */
    @media (--medium) {
      max-width: 590px;
      padding: 0;
    }

    /* 940px - max-width: 1200px 36px gutters */
    @media (--large) {
      max-width: 1200px;
      padding: 0 var(--hds-spacing-medium-3);
    }
  }

  &.hds-container--slim {
    /* 720px - max-width: 590px */
    @media (--medium) {
      max-width: 590px;
      padding: 0;
    }

    /* 940px - max-width: 762px 36px gutters */
    @media (--large) {
      max-width: 762px;
      padding: 0 var(--hds-spacing-medium-3);
    }
  }

  /**
   * Vertical spacing
   * padding and margin
   */

  &.hds-container--pt {
    padding-top: var(--hds-spacing-small-3);
  }

  &.hds-container--pb {
    padding-bottom: var(--hds-spacing-small-3);
  }

  &.hds-container--mt {
    margin-top: var(--hds-spacing-small-3);
  }

  &.hds-container--mb {
    margin-bottom: var(--hds-spacing-small-3);
  }

  /* 720px - max-width: 590px */
  @media (--medium) {
    &.hds-container--pt {
      padding-top: var(--hds-spacing-medium-3);
    }

    &.hds-container--pb {
      padding-bottom: var(--hds-spacing-medium-3);
    }

    &.hds-container--mt {
      margin-top: var(--hds-spacing-medium-3);
    }

    &.hds-container--mb {
      margin-bottom: var(--hds-spacing-medium-3);
    }
  }

  /* 940px - max-width: 762px 36px gutters */
  @media (--large) {
    &.hds-container--mt {
      margin-top: var(--hds-spacing-large-1);
    }

    &.hds-container--mb {
      margin-bottom: var(--hds-spacing-large-1);
    }
  }

  /* 1200px - max-width: 762px 36px gutters */
  @media (--xlarge) {
    &.hds-container--pt {
      padding-top: var(--hds-spacing-medium-4);
    }

    &.hds-container--pb {
      padding-bottom: var(--hds-spacing-medium-4);
    }
  }
}
