:root {
  --hds-brand-colors-signature: #7bc144;
  --hds-brand-colors-darker: #002f19;
  --hds-brand-colors-dark: #00643a;
  --hds-brand-colors-light: #c8dc8c;
  --hds-brand-colors-lighter: #f1f7e9;
  --hds-brand-colors-signature-hover: #86cc4a;
  --hds-brand-colors-light-hover: #d3e593;
  --hds-brand-button-colors-text: #000000;
  --hds-brand-link-colors-text: #000000;
  --hds-brand-link-colors-underline: #7bc144;
  --hds-brand-link-colors-hover: #00643a;
  --hds-brand-link-colors-underline-hover: #00643a;
  --hds-brand-typography-h1-display: 400 calc(40px + (72 - 40) * ((100vw - 300px) / (1200 - 300)))/calc(56px + (80 - 56) * ((100vw - 300px) / (1200 - 300))) 'Posten Sans Light', Arial, sans-serif;
  --hds-brand-typography-h1: 400 calc(32px + (48 - 32) * ((100vw - 300px) / (1200 - 300)))/calc(40px + (56 - 40) * ((100vw - 300px) / (1200 - 300))) 'Posten Sans Light', Arial, sans-serif;
  --hds-brand-typography-h2: 400 calc(28px + (32 - 28) * ((100vw - 300px) / (1200 - 300)))/calc(36px + (40 - 36) * ((100vw - 300px) / (1200 - 300))) 'Posten Sans', Arial, sans-serif;
  --hds-brand-font-size-h1-display: calc(40px + (72 - 40) * ((100vw - 300px) / (1200 - 300)));
  --hds-brand-font-size-h1-display-min: 40px;
  --hds-brand-font-size-h1-display-max: 72px;
  --hds-brand-font-size-h1: calc(32px + (48 - 32) * ((100vw - 300px) / (1200 - 300)));
  --hds-brand-font-size-h1-min: 32px;
  --hds-brand-font-size-h1-max: 48px;
  --hds-brand-font-size-h2: calc(28px + (32 - 28) * ((100vw - 300px) / (1200 - 300)));
  --hds-brand-font-size-h2-min: 28px;
  --hds-brand-font-size-h2-max: 32px;
  --hds-brand-line-height-h1-display: calc(56px + (80 - 56) * ((100vw - 300px) / (1200 - 300)));
  --hds-brand-line-height-h1-display-min: 56px;
  --hds-brand-line-height-h1-display-max: 80px;
  --hds-brand-line-height-h1: calc(40px + (56 - 40) * ((100vw - 300px) / (1200 - 300)));
  --hds-brand-line-height-h1-min: 40px;
  --hds-brand-line-height-h1-max: 56px;
  --hds-brand-line-height-h2: calc(36px + (40 - 36) * ((100vw - 300px) / (1200 - 300)));
  --hds-brand-line-height-h2-min: 36px;
  --hds-brand-line-height-h2-max: 40px;
}
