@import url("../_custom-media.css");
@import url("../_icons.css");

.hds-box.hds-warning-banner {
  --hds-warning-banner-icon-dimension: var(--hds-spacing-24);

  width: 100%;
  background-color: var(--hds-ui-colors-warning-yellow);
  padding: var(--hds-spacing-16);
  text-align: center;

  & .hds-warning-banner__description {
    font: var(--hds-typography-body-small);
  }

  /* Reset margin */
  & .hds-warning-banner__title,
  & .hds-warning-banner__description {
    margin: 0;
  }

  /* Spacing between title and description */
  & .hds-warning-banner__title ~ .hds-warning-banner__description {
    margin-top: var(--hds-spacing-12);

    @media (--large) {
      margin-top: var(--hds-spacing-16);
    }
  }

  .hds-warning-banner__title {
    font: var(--hds-typography-body-small-title);

    &.hds-warning-banner__title-trigger {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      width: 100%;
      border: 0;
      padding: 0;
      background-color: transparent;

      &::after {
        content: "";
        width: var(--hds-warning-banner-icon-dimension);
        height: var(--hds-warning-banner-icon-dimension);
        background-image: var(--_hds-icons-cheveron-down);
        margin-left: var(--hds-spacing-16);
        transform: rotate(180deg);
      }
    }
  }

  & .hds-warning-banner--closed.hds-warning-banner__title-trigger {
    &::after {
      transform: rotate(0);
    }
  }

  & .hds-warning-banner--closed ~ .hds-warning-banner__description {
    display: none;
  }
}
