@import url("../_custom-media.css");
@import url("../_icons.css");
@import url("../spacing/spacing.css");

.hds-warning-banner {
  --hds-warning-banner-icon-dimension: var(--hds-spacing-24);

  position: relative;
  width: 100%;
  background-color: var(--hds-colors-warning-base-default);
  color: var(--hds-colors-warning-base-contrast-default);
  text-align: center;

  .hds-warning-banner__title > *,
  .hds-warning-banner__description {
    /* Max width text. Copied from slim container */
    @media (--medium) {
      max-width: 590px;
    }

    @media (--large) {
      max-width: 762px;
    }
  }

  .hds-warning-banner__description {
    margin: 0 auto;
    font: var(--hds-typography-body-small);
    padding: 0 var(--hds-spacing-16) var(--hds-spacing-32);

    .hds-link {
      color: var(--hds-colors-warning-base-contrast-default);
      text-decoration-color: var(--hds-colors-warning-base-contrast-default);
    }
  }

  .hds-warning-banner__title {
    margin: 0;
    font: var(--hds-typography-body-small-title);
    padding: var(--hds-spacing-16);

    &.hds-warning-banner__title-trigger {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      width: 100%;
      border: 0;
      background-color: transparent;
      color: inherit;

      &::after {
        content: "";
        width: var(--hds-warning-banner-icon-dimension);
        height: var(--hds-warning-banner-icon-dimension);
        background-image: var(--_hds-icons-cheveron-down);
        margin-left: var(--hds-spacing-16);
        transform: rotate(180deg);
      }
    }
  }

  .hds-warning-banner__title-trigger[data-state="closed"] {
    &::after {
      transform: rotate(0);
    }
  }

  .hds-warning-banner__title-trigger[data-state="closed"] ~ .hds-warning-banner__description {
    display: none;
  }
}
