@import url("../_custom-media.css");

.hds-button {
  --hds-component-button-border-width: 1px;
  --hds-component-button-height-large: 58px;
  --hds-component-button-height-small: 44px;
  --hds-component-button-icon-size-large: 24px;
  --hds-component-button-icon-size-small: 20px;

  -webkit-font-smoothing: antialiased;
  appearance: button;
  box-sizing: border-box;
  display: inline-flex;
  gap: var(--hds-spacing-12);
  border-style: solid;
  border-radius: var(--hds-border-radius-8);
  border-width: var(--hds-component-button-border-width);
  transition-duration: var(--hds-micro-animation-duration-quick);
  transition-timing-function: var(--hds-micro-animation-easing-normal);
  transition-property: color, background-color, border-color, fill, outline;
  cursor: pointer;
  word-break: normal;
  font: var(--hds-typography-body-small-title);
  align-items: center;
  justify-content: center;

  /* When used as a link (<a>) */
  text-decoration: none;
  text-align: center;
  outline-offset: 2px;

  /**
   * Modifiers: sizes
   */
  &.hds-button--small {
    font-size: var(--hds-font-size-technical-title-max);
    line-height: var(--hds-line-height-technical-title-max);
    padding: var(--hds-spacing-8) var(--hds-spacing-16);

    /* The height can be more if the text inside the button wraps */
    min-height: var(--hds-component-button-height-small);

    & * {
      width: var(--hds-component-button-icon-size-small);
      height: var(--hds-component-button-icon-size-small);
    }

    &.hds-button--leading-icon {
      padding-left: var(--hds-spacing-12);
    }

    &.hds-button--trailing-icon {
      padding-right: var(--hds-spacing-12);
    }

    &.hds-button--only-icon {
      padding-left: var(--hds-spacing-8);
      padding-right: var(--hds-spacing-8);

      & * {
        width: var(--hds-spacing-24);
      }
    }
  }

  &.hds-button--large {
    min-height: var(--hds-component-button-height-large);
    font-size: var(--hds-font-size-body);
    line-height: var(--hds-line-height-body);
    padding: var(--hds-spacing-12) var(--hds-spacing-20);

    & * {
      height: var(--hds-component-button-icon-size-large);
      width: var(--hds-component-button-icon-size-large);
    }

    &.hds-button--leading-icon {
      padding-left: var(--hds-spacing-16);
    }

    &.hds-button--trailing-icon {
      padding-right: var(--hds-spacing-16);
    }

    &.hds-button--only-icon {
      padding-left: var(--hds-spacing-12);
      padding-right: var(--hds-spacing-12);

      & * {
        width: var(--hds-spacing-32);
      }
    }
  }

  /**
   * Modifiers: Width
   */

  &.hds-button--full {
    width: 100%;
  }

  &.hds-button--mobile-full {
    @media (--before-medium) {
      width: 100%;
    }
  }

  /**
   * Modifiers: Variants
   */

  &.hds-button--primary {
    background-color: var(--hds-colours-base-default);
    border-color: var(--hds-colours-base-default);
    color: var(--hds-colours-base-contrast-default);
    fill: var(--hds-colours-base-contrast-default);

    &:hover {
      background-color: var(--hds-colours-base-hover);
      border-color: var(--hds-colours-base-hover);
    }

    &:active {
      background-color: var(--hds-colours-base-active);
      border-color: var(--hds-colours-base-active);
    }

    &:disabled {
      color: var(--hds-ui-colors-dark-grey);
      background-color: var(--hds-ui-colors-grey);
      border-color: var(--hds-ui-colors-grey);
    }
  }

  &.hds-button--secondary {
    background-color: transparent;
    border-color: var(--hds-colours-border-default);
    color: var(--hds-colours-neutral-text-default);
    fill: var(--hds-colours-neutral-text-default);

    &:hover {
      color: var(--hds-colours-text-subtle);
      fill: var(--hds-colours-text-subtle);
      background-color: var(--hds-colours-surface-hover);
      border-color: var(--hds-colours-border-strong);
    }

    &:active {
      color: var(--hds-colours-neutral-text-default);
      fill: var(--hds-colours-neutral-text-default);
      background-color: var(--hds-colours-surface-active);
      border-color: var(--hds-colours-border-default);
    }

    &:disabled {
      color: var(--hds-ui-colors-dark-grey);
      border-color: var(--hds-ui-colors-grey);

      &:hover {
        background-color: transparent;
      }
    }
  }

  &.hds-button--tertiary {
    background-color: transparent;
    border-color: transparent;
    color: var(--hds-colours-neutral-text-default);
    fill: var(--hds-colours-neutral-text-default);

    &:hover {
      color: var(--hds-colours-text-subtle);
      fill: var(--hds-colours-text-subtle);
      background-color: var(--hds-colours-surface-hover);
    }

    &:active {
      color: var(--hds-colours-neutral-text-default);
      fill: var(--hds-colours-neutral-text-default);
      background-color: var(--hds-colours-surface-active);
    }

    &:disabled {
      color: var(--hds-ui-colors-dark-grey);

      &:hover {
        &:hover {
          background-color: transparent;
        }
      }
    }
  }

  /** @deprecated **/
  &.hds-button--inverted {
    background-color: transparent;
    border-color: var(--hds-colors-signature);
    color: var(--hds-ui-colors-white);

    &:hover {
      color: var(--hds-colors-light);
      border-color: var(--hds-colors-light);
    }

    &:active {
      color: var(--hds-button-colors-text);
      border-color: var(--hds-colors-signature);
    }

    &:disabled {
      color: var(--hds-ui-colors-grey);
      border-color: var(--hds-ui-colors-grey);

      &:hover {
        color: var(--hds-ui-colors-grey);
        border-color: var(--hds-ui-colors-grey);
      }
    }
  }
}
