.hds-button {
  -webkit-font-smoothing: antialiased;
  /* stylelint-disable-next-line property-no-vendor-prefix -- Not sure if we need this or not 🤷 */
  -webkit-appearance: button;
  box-sizing: border-box;
  display: inline-block;
  padding: var(--hds-spacing-small-3) var(--hds-spacing-medium-2);
  border-radius: var(--hds-border-radius);
  border-width: 0;
  background: var(--hds-ui-colors-grey);
  border-color: var(--hds-ui-colors-grey);
  color: var(--hds-brand-button-colors-text);
  fill: var(--hds-brand-button-colors-text);
  font: var(--hds-typography-body-title);
  transition: all var(--hds-micro-animation-duration-quick) var(--hds-micro-animation-easing-normal);
  text-align: center; /* Center text when this is an <a> */
  cursor: pointer;
  word-break: normal;

  &:disabled,
  &[disabled],
  &[disabled]:active {
    color: var(--hds-ui-colors-dark-grey) !important;
    fill: var(--hds-ui-colors-dark-grey) !important;
    background: var(--hds-ui-colors-grey) !important;
    border-color: var(--hds-ui-colors-grey) !important;
    outline: 0 !important;
    box-shadow: none !important;
    cursor: default;
  }

  /**
     * Modifiers: sizes
     */

  &--large {
    font-size: 18px;
    line-height: 26px;
    height: 58px;
    padding: 16px 24px;

    i,
    svg {
      margin-right: 12px;
    }
  }

  &--medium {
    font-size: 18px;
    line-height: 26px;
    height: 50px;
    padding: 12px 20px;

    i,
    svg {
      margin-right: 10px;
    }
  }

  &--small {
    font-size: 16px;
    line-height: 24px;
    height: 48px;
    padding: 12px 16px;

    i,
    svg {
      margin-right: 8px;
    }
  }

  &--full {
    width: 100%;
  }

  /**
    * Responsive modifiers
    */

  &--mobile-full {
    // TODO: Currently hardcoded due to css variables not available in media queries
    // Would be: --hds-breakpoints-medium
    // 🤷
    @media (max-width: 720px) {
      width: 100%;
    }
  }

  /**
     * Modifiers: types
     */

  &--primary {
    background: var(--hds-brand-colors-signature);
    border-color: var(--hds-brand-colors-signature);
    color: var(--hds-brand-button-colors-text);
    fill: var(--hds-brand-button-colors-text);

    &:hover,
    &:active {
      background: var(--hds-brand-colors-signature-hover);
      border-color: var(--hds-brand-colors-signature);
      outline: 0 solid var(--hds-brand-colors-signature-hover);
    }

    &:active {
      background: var(--hds-brand-colors-signature) !important;
    }
  }

  &--secondary {
    background: var(--hds-brand-colors-darker);
    border-color: var(--hds-brand-colors-darker);
    color: var(--hds-ui-colors-white);
    fill: var(--hds-ui-colors-white);

    &:hover,
    &:active {
      background: var(--hds-ui-colors-black);
      outline: 0 solid var(--hds-ui-colors-black);
    }

    &:active {
      background: var(--hds-brand-colors-darker) !important;
    }
  }

  &--outline {
    background: transparent;
    color: var(--hds-brand-colors-dark);
    fill: var(--hds-brand-colors-dark);
    border: var(--hds-stroke-thick) solid var(--hds-brand-colors-dark);

    &:disabled,
    &[disabled],
    &[disabled]:active {
      background: none !important;
    }

    &:hover,
    &:active {
      color: var(--hds-ui-colors-black);
      fill: var(--hds-ui-colors-black);
      border-color: var(--hds-ui-colors-black);
      background: none;
    }

    &:active {
      border-color: var(--hds-ui-colors-dark-grey);
    }
  }

  &--outline-white {
    background: transparent;
    border: var(--hds-stroke-thick) solid var(--hds-brand-colors-light);
    color: var(--hds-ui-colors-white);
    fill: var(--hds-ui-colors-white);
    outline-offset: 3px;

    &:hover,
    &:active {
      color: var(--hds-brand-colors-light);
      fill: var(--hds-brand-colors-light);
    }
  }

  &--outline-primary {
    background: transparent;
    border: var(--hds-stroke-thick) solid var(--hds-brand-colors-signature);
    color: var(--hds-ui-colors-black);
    fill: var(--hds-ui-colors-black);
    outline-offset: 3px;

    &:hover,
    &:active {
      color: var(--hds-brand-colors-dark);
      fill: var(--hds-brand-colors-dark);
      border: var(--hds-stroke-thick) solid var(--hds-brand-colors-dark);
    }

    &:disabled,
    &[disabled],
    &[disabled]:active {
      border: var(--hds-stroke-thick) solid var(--hds-ui-colors-grey);
      color: var(--hds-ui-colors-dark-grey);
      fill: var(--hds-ui-colors-dark-grey);
      background: transparent !important;
    }
  }

  &--outline-secondary,
  &--outline-dark {
    background: transparent;
    border: var(--hds-stroke-thick) solid var(--hds-brand-colors-darker);
    color: var(--hds-brand-colors-darker);
    fill: var(--hds-brand-colors-darker);
    outline-offset: 3px;

    &:hover,
    &:active {
      color: var(--hds-ui-colors-black);
      fill: var(--hds-ui-colors-black);
      border: var(--hds-stroke-thick) solid var(--hds-ui-colors-black);

      /* outline: 0px solid var(--hds-ui-colors-white); */
    }

    &:disabled,
    &[disabled],
    &[disabled]:active {
      border: var(--hds-stroke-thick) solid var(--hds-ui-colors-grey);
      color: var(--hds-ui-colors-dark-grey);
      fill: var(--hds-ui-colors-dark-grey);
      background: transparent !important;
    }
  }
}
