@import url("../_icons.css");

.hds-show-more {
  font: var(--hds-font-size-technical);
  display: flex;
  width: 100%;
  align-items: center;
  background: transparent;
  color: inherit;
  border: 0;
  cursor: pointer;
  transition: color var(--hds-micro-animation-duration-quick)
    var(--hds-micro-animation-easing-normal);

  &:hover {
    color: var(--hds-colors-text-subtle);

    .hds-show-more__icon {
      background-color: var(--hds-colors-text-subtle);
    }
  }

  &::before,
  &::after {
    content: "";
    height: 1px;
    background-color: var(--hds-colors-neutral-border-default);
    flex-grow: 1;
  }

  &::before {
    margin-right: var(--hds-spacing-24);
  }

  &::after {
    margin-left: var(--hds-spacing-24);
  }

  .hds-show-more__icon {
    margin-left: var(--hds-spacing-8);
    width: 24px;
    height: 24px;
    background-color: var(--hds-colors-neutral-text-default);
    mask-image: var(--_hds-plus);
    mask-size: cover;
  }

  /**
   * Show more / show less variant
   * allows the show more to close after expansion
   */
  &.hds-show-more--show-less {
    .hds-show-more__icon {
      background-image: var(--_hds-icons-cheveron-down-dark);
    }

    &[data-state="expanded"] .hds-show-more__icon {
      transform: rotate(-180deg);
    }
  }
}
