@import url("../_icons.css");

@keyframes hds-spinner-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes hds-fade-in {
  0%,
  20% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.hds-spinner {
  background-image: var(--_hds-spinner);
  animation:
    hds-spinner-spin 2s infinite linear normal,
    hds-fade-in 10s ease-in;
  width: var(--hds-component-spinner-size);
  height: var(--hds-component-spinner-size);

  &.hds-spinner--small {
    --hds-component-spinner-size: 1em;
  }

  &.hds-spinner--medium {
    --hds-component-spinner-size: 2em;
  }

  &.hds-spinner--large {
    --hds-component-spinner-size: 3em;
  }
}
