.hds-radio-button {
  --checkmark-width: 16px;
  --checkmark-margin: var(--hds-spacing-4);

  display: block;
  padding: 0 0 0
    calc(var(--checkmark-width) + (var(--checkmark-margin) * 2) + var(--hds-spacing-12));
  border-radius: var(--hds-border-radius);
  font: var(--hds-typography-body-small);
  position: relative;
  cursor: pointer;

  /**
   * To avoid unexpected behavior of focus when clicking the radio button text
   */
  user-select: none;

  * {
    cursor: pointer;
  }

  .hds-radio-button__title {
    font-weight: var(--hds-font-weight-body-title);
    padding-bottom: var(--hds-spacing-12);
  }

  label::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  /**
  * Hide the browser default RadioButton
  */
  input[type="radio"] {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
  }

  /**
  * Create a custom RadioButton
  */
  .hds-radio-button__checkmark {
    margin: var(--hds-spacing-4);
    position: absolute;
    left: 0;
    height: var(--checkmark-width);
    width: var(--checkmark-width);
    border: solid 2px var(--hds-colors-text-default);
    border-radius: 50%;
  }

  input[type="radio"]:checked ~ .hds-radio-button__checkmark::after {
    display: block;
  }

  .hds-radio-button__checkmark::after {
    content: "";
    position: absolute;
    display: none;
    top: 3px;
    left: 3px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: var(--hds-colors-border-strong);
  }

  /**
  * Variant bounding-box and state error
  */
  &.hds-radio-button--bounding-box {
    background-color: var(--hds-colors-bg-tinted);
    padding: calc(var(--hds-spacing-16) - 1px) var(--hds-spacing-32)
      calc(var(--hds-spacing-16) - 1px)
      calc(
        var(--hds-spacing-16) + var(--checkmark-width) + (var(--checkmark-margin) * 2) +
          var(--hds-spacing-12)
      );
    border: solid var(--hds-stroke-default) var(--hds-colors-bg-tinted);

    .hds-radio-button__checkmark {
      left: var(--hds-spacing-16);
    }

    &.hds-radio-button--error {
      border: solid var(--hds-stroke-default) var(--hds-colors-warning-base-default);
    }
  }

  &.hds-radio-button--error {
    .hds-radio-button__checkmark {
      border-color: var(--hds-colors-warning-base-default);
    }

    .hds-radio-button__checkmark::after {
      background: var(--hds-colors-warning-base-default);
    }
  }

  /**
  * State: Disabled
  */
  input[type="radio"]:disabled {
    ~ .hds-radio-button__checkmark,
    ~ .hds-radio-button__checkmark::after {
      border-color: var(--hds-colors-neutral-border-default);
      cursor: default;
    }

    ~ .hds-radio-button__checkmark::after {
      background: var(--hds-colors-border-strong);
      cursor: default;
    }
  }

  &.hds-radio-button:has(input:disabled) {
    cursor: default;
    color: var(--hds-colors-neutral-text-subtle);

    &.hds-radio-button--bounding-box {
      background-color: var(--hds-colors-neutral-base-default);
      border-color: var(--hds-colors-bg-tinted);
    }
  }

  /* Focus effect */
  &:has(input[type="radio"]:focus-visible) {
    outline: 2px solid var(--hds-colors-border-strong);
    outline-offset: 2px;
  }
}
