@import url("../_custom-media.css");
@import url("./spacing.css");

/**
 * Text utility classes
 *
 * Sets the following values:
 * - Font family (always "Posten Sans")
 * - Font weight
 * - Font size
 * - Line height
 */
.hds-text-h1-display {
  font: var(--hds-typography-h1-display);

  &.hds-text--min {
    font-size: var(--hds-font-size-h1-display-min);
    line-height: var(--hds-line-height-h1-display-min);
  }

  &.hds-text--max {
    font-size: var(--hds-font-size-h1-display-max);
    line-height: var(--hds-line-height-h1-display-max);
  }
}

.hds-text-h1 {
  font: var(--hds-typography-h1);

  &.hds-text--min {
    font-size: var(--hds-font-size-h1-min);
    line-height: var(--hds-line-height-h1-min);
  }

  &.hds-text--max {
    font-size: var(--hds-font-size-h1-max);
    line-height: var(--hds-line-height-h1-max);
  }
}

.hds-text-h2 {
  font: var(--hds-typography-h2);

  &.hds-text--min {
    font-size: var(--hds-font-size-h2-min);
    line-height: var(--hds-line-height-h2-min);
  }

  &.hds-text--max {
    font-size: var(--hds-font-size-h2-max);
    line-height: var(--hds-line-height-h2-max);
  }
}

.hds-text-h3 {
  font: var(--hds-typography-h3);

  &.hds-text--min {
    font-size: var(--hds-font-size-h3-min);
    line-height: var(--hds-line-height-h3-min);
  }

  &.hds-text--max {
    font-size: var(--hds-font-size-h3-max);
    line-height: var(--hds-line-height-h3-max);
  }
}

.hds-text-h3-title {
  font: var(--hds-typography-h3-title);

  &.hds-text--min {
    font-size: var(--hds-font-size-h3-title-min);
    line-height: var(--hds-line-height-h3-title-min);
  }

  &.hds-text--max {
    font-size: var(--hds-font-size-h3-title-max);
    line-height: var(--hds-line-height-h3-title-max);
  }
}

.hds-text-body {
  font: var(--hds-typography-body);

  &.hds-text--min {
    font-size: var(--hds-font-size-body-min);
    line-height: var(--hds-line-height-body-min);
  }

  &.hds-text--max {
    font-size: var(--hds-font-size-body-max);
    line-height: var(--hds-line-height-body-max);
  }
}

.hds-text-body-title {
  font: var(--hds-typography-body-title);

  &.hds-text--min {
    font-size: var(--hds-font-size-body-title-min);
    line-height: var(--hds-line-height-body-title-min);
  }

  &.hds-text--max {
    font-size: var(--hds-font-size-body-title-max);
    line-height: var(--hds-line-height-body-title-max);
  }
}

.hds-text-body-small {
  font: var(--hds-typography-body-small);

  &.hds-text--min {
    font-size: var(--hds-font-size-body-small-min);
    line-height: var(--hds-line-height-body-small-min);
  }

  &.hds-text--max {
    font-size: var(--hds-font-size-body-small-max);
    line-height: var(--hds-line-height-body-small-max);
  }
}

.hds-text-body-small-title {
  font: var(--hds-typography-body-small-title);

  &.hds-text--min {
    font-size: var(--hds-font-size-body-small-title-min);
    line-height: var(--hds-line-height-body-small-title-min);
  }

  &.hds-text--max {
    font-size: var(--hds-font-size-body-small-title-max);
    line-height: var(--hds-line-height-body-small-title-max);
  }
}

.hds-text-technical {
  font: var(--hds-typography-technical);

  &.hds-text--min {
    font-size: var(--hds-font-size-technical-min);
    line-height: var(--hds-line-height-technical-min);
  }

  &.hds-text--max {
    font-size: var(--hds-font-size-technical-max);
    line-height: var(--hds-line-height-technical-max);
  }
}

.hds-text-technical-title {
  font: var(--hds-typography-technical-title);

  &.hds-text--min {
    font-size: var(--hds-font-size-technical-title-min);
    line-height: var(--hds-line-height-technical-title-min);
  }

  &.hds-text--max {
    font-size: var(--hds-font-size-technical-title-max);
    line-height: var(--hds-line-height-technical-title-max);
  }
}

.hds-text-caption {
  font: var(--hds-typography-caption);
}

.hds-text-caption-title {
  font: var(--hds-typography-caption-title);
}

/**
 * 🚧 Spacing
 * 🚨 WORK IN PROGRESS - MIGHT BREAK 🚨
 * Meant for article content, ui content might need different spacing.
 */
.hds-text-h1,
.hds-text-h2 {
  &.hds-text--spacing {
    &:not(:first-child) {
      margin-top: var(--hds-spacing-large-1-responsive);
    }
  }
}

.hds-text-h1 + .hds-text-h2 {
  &.hds-text--spacing {
    margin-top: var(--hds-spacing-medium-3);
  }
}

.hds-text-h3,
.hds-text-h3-title {
  &.hds-text--spacing {
    margin-top: var(--hds-spacing-medium-4-responsive);
  }
}

.hds-text-body,
.hds-text-body-title {
  &.hds-text--spacing {
    &:not(:first-child) {
      margin-top: var(--hds-spacing-small-4);

      @media (--large) {
        margin-top: var(--hds-spacing-medium-2);
      }
    }

    &:not(:last-child) {
      margin-bottom: var(--hds-spacing-small-4);

      @media (--large) {
        margin-bottom: var(--hds-spacing-medium-2);
      }
    }
  }
}
