.hds-description-list {
  list-style: none;
  margin: 0;
  padding-left: 0;
  font: var(--hds-typography-body);

  & dt {
    font-family: var(--hds-fonts-posten-sans-bold);
  }

  & dd {
    margin-left: 0;
    margin-bottom: 12px;
  }

  &.hds-description-list--horizontal {
    & dt {
      display: inline-block;
      margin-right: 4px;
      margin-bottom: 8px;

      &::after {
        content: "\a";
        white-space: pre;
      }
    }

    & dd {
      display: inline;

      &::after {
        content: "\a";
        white-space: pre;
      }
    }
  }
}
