.hds-description-list {
  list-style: none;
  margin: 0;
  padding-left: 0;
  font: var(--hds-typography-body);

  & dt {
    font: var(--hds-typography-body-title);
  }

  & dd {
    margin-left: 0;
    margin-bottom: var(--hds-spacing-small-3);
  }

  &.hds-description-list--horizontal {
    & dt {
      display: inline-block;
      margin-right: var(--hds-spacing-small-1);
      margin-bottom: var(--hds-spacing-small-2);

      &::after {
        content: "\a";
        white-space: pre;
      }
    }

    & dd {
      display: inline;

      &::after {
        content: "\a";
        white-space: pre;
      }
    }
  }
}
