/* Reset outer margin from the browser defaults, but let consumers easily override it */
:where(.hds-list) {
  margin: 0;
}

.hds-description-list {
  list-style: none;
  padding-left: 0;
  font: var(--hds-typography-body);

  & dt {
    font: var(--hds-typography-body-title);
  }

  /**
   * Spacing between each item
   * a description list can either have `div` wrapping the groups of `dt` and `dd`
   * or just the `dt` and `dd` as a flat list next to each other
   */
  & :is(dt, div):not(:first-of-type) {
    margin-top: var(--hds-spacing-12);
  }

  & dd {
    margin-left: 0;
  }

  &, /* Default */
  &.hds-description-list--vertical {
    & dd {
      margin-top: 2px;
    }
  }

  &.hds-description-list--horizontal {
    & dt {
      display: inline-block;
      margin-right: var(--hds-spacing-8);
    }

    & dd {
      display: inline;
      margin-top: 0;

      &::after {
        content: "\a";
        white-space: pre;
      }
    }

    /**
     * When a non-text element is inside it will mess up the layout
     * if has `display: block` and/or some margin
     */
    & :is(dt, dd) * {
      display: inline;
    }
  }
}
