/* Reset outer margin from the browser defaults, but let consumers easily override it */
:where(.hds-list) {
  margin: 0;
}

.hds-list {
  --_hds-list-marker-color: var(--hds-colors-dark);

  /**
   * Spacing from the left
   * In hedwig legacy the bullets started at the content
   * padding-left: var(--hds-spacing-16);
   */
  padding-left: var(--hds-spacing-32);

  & li {
    padding-left: var(--hds-spacing-8);

    &::marker {
      color: var(--_hds-list-marker-color);
    }
  }

  &:is(ol) {
    list-style: decimal;
  }

  &:is(ul) {
    list-style: disc;

    & li::marker {
      font-size: 16px;
    }
  }

  /* Nested unordered lists */
  &:is(ul) ul {
    list-style: circle;
    padding-left: var(--hds-spacing-16);
  }

  /* Nested ordered lists */
  &:is(ol) ol {
    list-style: decimal;
    padding-left: var(--hds-spacing-16);

    /* TODO: Consider variant for a, b, c list style when nested */

    /* list-style: lower-alpha; */
  }

  /**
   * Modifers: Sizes
   */

  &, /* Default */
  &.hds-list--default,
  &.hds-list--medium {
    font: var(--hds-typography-body);

    * + * {
      margin-top: var(--hds-spacing-8);
    }

    & ul,
    & ol {
      margin-top: var(--hds-spacing-8);
    }
  }

  &.hds-list--small {
    font: var(--hds-typography-body-small);

    * + * {
      margin-top: var(--hds-spacing-4);
    }

    & ul,
    & ol {
      margin-top: var(--hds-spacing-4);
    }
  }

  &.hds-list--technical {
    font: var(--hds-typography-technical);

    * + * {
      margin-top: var(--hds-spacing-4);
    }

    & ul,
    & ol {
      margin-top: var(--hds-spacing-4);
    }
  }

  &.hds-list--large {
    font: var(--hds-typography-h3);

    * + * {
      margin-top: var(--hds-spacing-12);
    }

    & ul,
    & ol {
      margin-top: var(--hds-spacing-12);
    }
  }

  /**
   * Link list
   */
  &.hds-list--link-list {
    list-style: none;
    padding-left: 0;

    * + * {
      margin-top: var(--hds-spacing-16);
    }

    & li {
      padding-left: 0;
    }

    /* Auto style `a` tags */
    a:where(:not(.hds-link)) {
      @extend url("./src/link/link.css:hds-link");
    }
  }
}
