/* Reset outer margin from the browser defaults, but let consumers easily override it */
:where(.hds-list) {
  margin: 0;
}

.hds-list {
  display: flex;
  flex-direction: column;

  /**
   * Spacing from the left
   * In hedwig legacy the bullets started at the content
   * padding-left: var(--hds-spacing-small-4);
   */
  padding-left: var(--hds-spacing-medium-3);

  & li {
    padding-left: var(--hds-spacing-small-2);

    &::marker {
      color: var(--hds-colors-dark);
    }
  }

  &:is(ol) {
    list-style: decimal;
  }

  &:is(ul) {
    list-style: disc;
  }

  /* Nested unordered lists */
  &:is(ul) ul {
    list-style: circle;
  }

  /**
   * Modifers: Style
   */
  &.hds-list--no-bullets {
    list-style: none;
    padding-left: 0;

    & li {
      padding-left: 0;
    }
  }

  /**
   * Modifers: Sizes
   */
  &.hds-list--small {
    font: var(--hds-typography-body-small);
    gap: var(--hds-spacing-small-1);
  }

  &, /* Default */
  &.hds-list--medium {
    gap: var(--hds-spacing-small-2);
  }

  &.hds-list--large {
    font: var(--hds-typography-h3);
    gap: var(--hds-spacing-small-3);
  }

  &.hds-list--link-list {
    li:not(:last-child) {
      margin-bottom: var(--hds-spacing-small-2);
    }
  }
}
