/**
 * Block
 */

.hds-badge {
  --_hds-badge-background-color: var(--hds-colors-surface-tinted);
  --_hds-badge-color: var(--hds-colors-base-active);

  display: inline-block;
  border-radius: var(--hds-border-radius);
  text-transform: uppercase;

  /* Custom typography for this component */
  font-family: var(--hds-fonts-posten-sans);
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  -moz-osx-font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
  vertical-align: 10%;
  background-color: var(--_hds-badge-background-color);
  color: var(--_hds-badge-color);

  /* Size variations */

  &, /* Default */
  &.hds-badge--small {
    padding: var(--hds-spacing-4) var(--hds-spacing-8);
  }

  &.hds-badge--smaller {
    padding: 2px 6px;
  }

  /* Color variations */
  &, /* Default */
  &.hds-badge--lighter {
    --_hds-badge-background-color: var(--hds-colors-surface-tinted);
    --_hds-badge-color: var(--hds-colors-base-active);
  }

  &.hds-badge--darker {
    --_hds-badge-background-color: var(--hds-colors-base-active);
    --_hds-badge-color: var(--hds-colors-surface-default);
  }

  &.hds-badge--white {
    --_hds-badge-background-color: var(--hds-colors-surface-default);
    --_hds-badge-color: var(--hds-colors-base-active);
  }

  &.hds-badge--warning {
    --_hds-badge-background-color: var(--hds-colors-warning-base-default);
    --_hds-badge-color: var(--hds-colors-text-default);
  }
}
