/**
 * Block
 */

.hds-badge {
  display: inline-block;
  border-radius: var(--hds-border-radius);
  text-transform: uppercase;

  /* Custom typography for this component */
  font-family: var(--hds-fonts-posten-sans);
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  -moz-osx-font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
  vertical-align: 10%;

  /* Size variations */

  &, /* Default */
  &.hds-badge--small {
    padding: var(--hds-spacing-small-1) var(--hds-spacing-small-2);
  }

  &.hds-badge--smaller {
    padding: 2px 6px;
  }

  /* Color variations */

  &, /* Default */
  &.hds-badge--lighter {
    background-color: var(--hds-brand-colors-lighter);
    color: var(--hds-brand-colors-dark);
  }

  &.hds-badge--dark {
    background-color: var(--hds-brand-colors-darker);
    color: var(--hds-ui-colors-white);
  }

  &.hds-badge--white {
    background-color: var(--hds-ui-colors-white);
    color: var(--hds-brand-colors-dark);
  }

  &.hds-badge--warning {
    background-color: var(--hds-ui-colors-warning-yellow);
    color: var(--hds-brand-link-colors-text);
  }
}
