/**
 * Block
 */

.hds-badge {
  --_hds-badge-background-color: var(--hds-colors-base-default);
  --_hds-badge-color: var(--hds-colors-base-contrast-default);

  display: inline-block;
  border-radius: var(--hds-border-radius);
  text-transform: uppercase;

  /* Custom typography for this component */
  font-family: var(--hds-fonts-posten-sans);
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  -moz-osx-font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
  vertical-align: 10%;
  background-color: var(--_hds-badge-background-color);
  color: var(--_hds-badge-color);

  /* Size variations */

  &, /* Default */
  &.hds-badge--small {
    padding: var(--hds-spacing-4) var(--hds-spacing-8);
  }

  &.hds-badge--smaller {
    padding: 2px 6px;
  }

  /* Deprecated color variations */

  &.hds-badge--lighter {
    background-color: var(--hds-colors-surface-tinted);
    color: var(--hds-colors-base-active);
  }

  &.hds-badge--darker {
    background-color: var(--hds-colors-base-active);
    color: var(--hds-colors-base-contrast-default);
  }

  &.hds-badge--white {
    background-color: var(--hds-colors-neutral-surface-default);
    color: var(--hds-colors-neutral-text-default);
  }
}

/* to avoid breaking deprecated versions of badge */
[data-color="bring"] .hds-badge.hds-badge--darker {
  background-color: var(--hds-colors-text-default);
  color: var(--hds-colors-surface-tinted);
}

[data-color="bring"] .hds-badge.hds-badge--lighter {
  background-color: var(--hds-colors-surface-tinted);
  color: var(--hds-colors-text-subtle);
}
