/**
 * Block
 */

.hds-badge {
  display: inline-block;
  border-radius: var(--hds-border-radius);
  text-transform: uppercase;

  /* Custom typography for this component */
  font-family: var(--hds-fonts-posten-sans);
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  -moz-osx-font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
  vertical-align: 10%;

  /* Size variations */

  &, /* Default */
  &.hds-badge--small {
    padding: var(--hds-spacing-4) var(--hds-spacing-8);
  }

  &.hds-badge--smaller {
    padding: 2px 6px;
  }

  /* Color variations */

  &, /* Default */
  &.hds-badge--lighter {
    background-color: var(--hds-colours-surface-tinted);
    color: var(--hds-colours-base-active);
  }

  &.hds-badge--darker {
    background-color: var(--hds-colours-base-active);
    color: var(--hds-colours-surface-default);
  }

  &.hds-badge--white {
    background-color: var(--hds-colours-surface-default);
    color: var(--hds-colours-base-active);
  }

  &.hds-badge--warning {
    background-color: var(--hds-ui-colors-warning-yellow);
    color: var(--hds-link-colors-text);
  }
}
