.hds-unstable-chip {
  display: inline-block;
  cursor: pointer;
  border: solid var(--hds-stroke-default) var(--hds-colors-border-default) !important;

  /* Chip specific values */
  border-radius: 15px;
  padding: 3px 12px;

  &:is(a) {
    text-decoration: none !important;
  }

  color: var(--hds-colors-neutral-text-default);

  &:hover:not([data-state="active"]) {
    background-color: rgba(0, 0, 0, 0.1);
  }

  &[data-state="active"] {
    background-color: var(--hds-colors-base-default);
    color: var(--hds-colors-base-contrast-default);
  }
  &:hover {
    color: var(--hds-colors-neutral-text-default) !important;
  }
  &[data-state="active"]:hover {
    color: var(--hds-colors-base-contrast-default) !important;
  }
}
