@import url("../_custom-media.css");

.hds-tabs {
  --_hds-tabs-border-active-size: var(--hds-stroke-thick);
  --_hds-tabs-marker-color: var(--hds-colors-signature);

  /* Set by javascript. Controlles the animation of the tab marker */
  --_hds-tabs-marker-border-fallback-color: var(--_hds-tabs-marker-color);
  --_hds-tabs-marker-animated-color: transparent;
  --_hds-tabs-marker-top: 0;
  --_hds-tabs-marker-left: 0;
  --_hds-tabs-marker-height: 0;
  --_hds-tabs-marker-width: 0;

  font: var(--hds-typography-body);

  .hds-tabs__list {
    padding-left: 0;
    display: inline-flex;
    width: auto;
    position: relative;

    /* Tab button */
    .hds-tabs__tab {
      cursor: pointer;
      font: var(--hds-typography-body);
      background: transparent;
      color: inherit;
      border: 0;
      text-align: left;

      &:hover {
        color: var(--hds-colors-dark);
      }

      &.hds-tabs__tab--active {
        color: var(--hds-colors-dark);
      }
    }

    /* List styling */
    &, /* Default */
    &.hds-tabs__list--vertical {
      border-left: 1px solid var(--hds-ui-colors-light-grey-fill);
      flex-direction: column;

      .hds-tabs__tab {
        width: auto;
        padding: var(--hds-spacing-8) var(--hds-spacing-16);
        border-left: var(--_hds-tabs-border-active-size) solid transparent;

        &.hds-tabs__tab--active {
          border-color: var(
            --_hds-tabs-marker-border-fallback-color,
            var(--_hds-tabs-marker-color)
          );
        }
      }

      /* Marker animation */
      &::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        height: 100%;
        width: var(--_hds-tabs-border-active-size);
        scale: 1 var(--_hds-tabs-marker-height);
        translate: 0 var(--_hds-tabs-marker-top);
        transform-origin: top left;
        transition-property: scale, translate;
        transition-duration: var(--hds-micro-animation-duration-quick);
        transition-timing-function: var(--hds-micro-animation-easing-out);
        background-color: var(--_hds-tabs-marker-animated-color);
      }
    }

    /* Horizontal list styling. Only available for medium screen sizes and up */
    @media (--medium) {
      &.hds-tabs__list--horizontal {
        border-left: 0;
        border-bottom: var(--hds-stroke-default) solid var(--hds-ui-colors-light-grey-fill);
        flex-direction: row;

        .hds-tabs__tab {
          padding: var(--hds-spacing-12) 0;
          border-bottom: var(--_hds-tabs-border-active-size) solid transparent;
          border-left: 0;

          &.hds-tabs__tab--active {
            border-color: var(
              --_hds-tabs-marker-border-fallback-color,
              var(--_hds-tabs-marker-color)
            );
          }

          &:not(:first-child) {
            margin-left: var(--hds-spacing-16);
          }

          &:not(:last-child) {
            margin-right: var(--hds-spacing-16);
          }
        }

        /* Marker animation */
        &::before {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          top: unset;
          width: unset;
          height: var(--_hds-tabs-border-active-size);
          scale: var(--_hds-tabs-marker-width) 1;
          translate: var(--_hds-tabs-marker-left) 0;
          transform-origin: left;
          transition-property: scale, translate;
          transition-duration: var(--hds-micro-animation-duration-quick);
          transition-timing-function: var(--hds-micro-animation-easing-out);
          background-color: var(--_hds-tabs-marker-animated-color);
        }
      }
    }
  }

  /* Tab contents */
  :where(.hds-tabs__contents) {
    margin-top: var(--hds-spacing-32);
  }
}
