@import url("../_custom-media.css");

.hds-tabs {
  --hds-tabs-border-active-size: var(--hds-stroke-thick);

  font: var(--hds-typography-body);

  .hds-tabs--list {
    padding-left: 0;
    display: inline-flex;
    width: auto;

    &.hds-tabs--list-horizontal {
      color: red;

      @media (--medium) {
        border-bottom: var(--hds-stroke-default) solid var(--hds-ui-colors-light-grey-fill);
        flex-direction: row;

        .hds-tabs--tab {
          padding: var(--hds-spacing-12) 0;
          border-bottom: var(--hds-tabs-border-active-size) solid transparent;

          &.hds-tabs--tab-active {
            border-bottom-color: var(--hds-colors-signature);
          }

          &:not(:first-child) {
            padding-left: var(--hds-spacing-16);
          }

          &:not(:last-child) {
            padding-right: var(--hds-spacing-16);
          }
        }
      }

      @media (--before-medium) {
        border-left: 1px solid var(--hds-ui-colors-light-grey-fill);
        flex-direction: column;
        padding-left: 1px;

        .hds-tabs--tab {
          width: auto;
          padding: var(--hds-spacing-8) var(--hds-spacing-12);

          &.hds-tabs--tab-active {
            margin-left: calc(var(--hds-tabs-border-active-size) * -1);
            border-left: var(--hds-tabs-border-active-size) solid var(--hds-colors-signature);
          }
        }
      }
    }

    &.hds-tabs--list-vertical {
      border-left: 1px solid var(--hds-ui-colors-light-grey-fill);
      flex-direction: column;
      padding-left: 1px;

      .hds-tabs--tab {
        width: auto;
        padding: var(--hds-spacing-8) var(--hds-spacing-12);

        &.hds-tabs--tab-active {
          margin-left: calc(var(--hds-tabs-border-active-size) * -1);
          border-left: var(--hds-tabs-border-active-size) solid var(--hds-colors-signature);
        }
      }
    }

    .hds-tabs--tab {
      cursor: pointer;
      font: var(--hds-typography-body);
      background: transparent;
      border: 0 none;
      text-align: left;

      &:hover {
        color: var(--hds-colors-dark);
      }

      &.hds-tabs--tab-active {
        color: var(--hds-colors-dark);
      }
    }
  }

  .hds-tabs--contents {
    margin-top: var(--hds-spacing-64);
  }
}
