:where(.hds-fieldset) {
  /* Reset outer margin from the browser defaults, but let consumers easily override it */
  margin: 0;

  --hds-fieldset-spacing: var(--hds-spacing-8);
}

.hds-fieldset {
  display: flex;
  flex-flow: column nowrap;
  border: 0;
  padding: 0;
  gap: var(--hds-fieldset-spacing);

  & .hds-fieldset__legend,
  & .hds-fieldset__legend--default {
    padding: 0;
    color: var(--hds-colors-neutral-text-default);
    margin-bottom: var(--hds-fieldset-spacing);
    transition: color var(--hds-micro-animation-duration-quick)
      var(--hds-micro-animation-easing-normal);
    font: var(--hds-typography-caption);
  }

  & .hds-fieldset__legend--large {
    font: var(--hds-typography-body-title);
  }
}
