/*
 * Based on hedwig global css
 * https://github.com/bring/hedwig/blob/master/src/shared/base/body.css
 */
:root {
  box-sizing: border-box;
  font: var(--hds-typography-body);
  fill: var(--hds-ui-colors-black);
  color: var(--hds-ui-colors-black);
  line-height: 1.4;
  cursor: auto;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  & body {
    background: var(--hds-ui-colors-white);
  }

  /* Override hedwig legacy typography.css */
  & h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--hds-fonts-posten-sans);
  }
}
