/*
 * All element selector, and general global styles should be defined in this file
 *
 * Based on hedwig global css
 * https://github.com/bring/hedwig/blob/master/src/shared/base/body.css
 */
:root {
  box-sizing: border-box;
  font: var(--hds-typography-body);
  fill: var(--hds-ui-colors-black);
  color: var(--hds-ui-colors-black);
  line-height: 1.4;
  cursor: auto;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  background: var(--hds-ui-colors-white);

  /* Get specificity on the same level as the font decleration in the 
   * legacy Hedwig CSS, making it possible to override by ordering */
  font: var(--hds-typography-body);
}

/**
 * Default typography for headings
 *
 * Since hedwig legacy sets default font-family
 * we need to override it to get the correct `Posten Sans`
 */
h1 {
  font: var(--hds-typography-h1);
}

h2 {
  font: var(--hds-typography-h2);
}

h3 {
  font: var(--hds-typography-h3);
}

/*
 * Uncommon to use these levels,
 * but default to body-title.
 * The consumer should override to whatever fit's their need
 */
h4,
h5,
h6 {
  font: var(--hds-typography-body-title);
}
