/* https://caniuse.com/woff2 */

/*
  Font weight with style linking
  https://www.smashingmagazine.com/2013/02/setting-weights-and-styles-at-font-face-declaration/
 */
@font-face {
  font-family: "Posten Sans";
  src: url("../assets/fonts/PostenSans-Regular.woff2") format("woff2");
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: "Posten Sans";
  src: url("../assets/fonts/PostenSans-Medium.woff2") format("woff2");
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: "Posten Sans";
  src: url("../assets/fonts/PostenSans-Bold.woff2") format("woff2");
  font-display: swap;
  font-weight: 700;
}

/**
 * Legacy font-face with their own family for each font
 */
@font-face {
  font-family: "Posten Sans Regular";
  src: url("../assets/fonts/PostenSans-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Posten Sans Medium";
  src: url("../assets/fonts/PostenSans-Medium.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Posten Sans Bold";
  src: url("../assets/fonts/PostenSans-Bold.woff2") format("woff2");
  font-display: swap;
}
