@import url("../_custom-media.css");
@import url("../_icons.css");

.hds-breadcrumbs {
  padding: 0;
  list-style-type: none;
  display: flex;

  /*
   * Ensure the caption typography is used
   * Override general styling for links that sets the font-size
   */
  &,
  & a {
    font: var(--hds-typography-caption);
  }

  & li {
    display: flex;

    /*
     * Design in Figma has an extra 2px distance between
     * the text and underline border on links
     * This calculation is a best effort attempt to match that
     */
    .hds-link {
      text-underline-offset: calc(0.25em + 3px);
    }

    &:first-child {
      &::before {
        display: none;
      }
    }

    &:last-child {
      color: var(--hds-colors-neutral-text-subtle);
    }

    &::before {
      content: "";
      display: inline-block;
      width: 20px;
      height: 20px;

      /* background-image: var(--_hds-icons-cheveron-right-dark-grey); */
      mask-image: var(--_hds-chevron-right);
      mask-size:
        7px 14px,
        contain;
      mask-repeat: no-repeat;
      mask-position: center;
      background-image: none;
      background-color: var(--hds-colors-text-subtle);
      margin: 0 var(--hds-spacing-4);
    }

    @media (--before-medium) {
      &:not(:only-child) {
        display: none;
      }

      &:nth-last-of-type(2) {
        display: inherit;

        &::before {
          display: inline-block;
          margin-left: 0;
          mask-image: var(--_hds-chevron-left);
        }
      }
    }
  }
}
