.hds-checkbox-wrapper {
  display: flex;
  flex-flow: column nowrap;
  gap: var(--hds-spacing-8);
}

.hds-checkbox {
  --checkmark-width: 16px;
  --checkmark-margin: var(--hds-spacing-4);

  display: block;
  padding: 0 0 0
    calc(var(--checkmark-width) + (var(--checkmark-margin) * 2) + var(--hds-spacing-12));
  border-radius: var(--hds-border-radius);
  font: var(--hds-typography-body-small);
  position: relative;
  cursor: pointer;

  /**
   * To avoid unexpected behavior of focus when clicking the checkbox text
   */
  user-select: none;

  * {
    cursor: pointer;
  }

  .hds-checkbox__title {
    font-weight: var(--hds-font-weight-body-title);
    padding-bottom: var(--hds-spacing-12);
  }

  label::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  /**
  * Hide the browser default checkbox
  */
  input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
  }

  /**
  * Create a custom checkbox
  */
  .hds-checkbox__checkmark {
    margin: var(--checkmark-margin);
    position: absolute;
    left: 0;
    height: var(--checkmark-width);
    width: var(--checkmark-width);
    border: solid 2px var(--hds-colors-darker);
  }

  input[type="checkbox"]:checked ~ .hds-checkbox__checkmark::after {
    display: block;
  }

  .hds-checkbox__checkmark::after {
    content: "";
    position: absolute;
    display: none;
    left: 4px;
    top: 1px;
    width: 4px;
    height: 8px;
    border: solid var(--hds-colors-dark);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }

  /**
  * Variant bounding-box and state error
  */
  &.hds-checkbox--bounding-box {
    background-color: var(--hds-colors-lighter);
    padding: calc(var(--hds-spacing-16) - 1px) var(--hds-spacing-32)
      calc(var(--hds-spacing-16) - 1px)
      calc(
        var(--hds-spacing-16) + var(--checkmark-width) + (var(--checkmark-margin) * 2) +
          var(--hds-spacing-12)
      );
    border: solid var(--hds-stroke-default) var(--hds-colors-lighter);

    .hds-checkbox__checkmark {
      left: var(--hds-spacing-16);
    }

    &.hds-checkbox--error {
      border: solid var(--hds-stroke-default) var(--hds-ui-colors-warning-yellow);
    }
  }

  &.hds-checkbox--error {
    .hds-checkbox__checkmark,
    .hds-checkbox__checkmark::after {
      border-color: var(--hds-ui-colors-warning-yellow);
    }
  }

  /**
  * State: Disabled
  */
  input[type="checkbox"]:disabled {
    ~ .hds-checkbox__checkmark,
    ~ .hds-checkbox__checkmark::after {
      border-color: var(--hds-ui-colors-grey);
      cursor: default;
    }
  }

  &.hds-checkbox:has(input:disabled) {
    cursor: default;
    color: var(--hds-ui-colors-dark-grey);

    &.hds-checkbox--bounding-box {
      background-color: var(--hds-ui-colors-light-grey-fill);
    }
  }

  /* Focus effect */
  &:has(input[type="checkbox"]:focus-visible) {
    outline: 2px solid var(--hds-colors-dark);
    outline-offset: 2px;
  }
}
