@import url("../_logo.css");
@import url("../_custom-media.css");
@import url("../spacing/spacing.css");

.hds-navbar {
  position: relative;
  background-color: var(--hds-ui-colors-white);
  height: var(--hds-navbar-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--hds-spacing-32);
  font-family: var(--hds-fonts-posten-sans-regular);
  text-align: left;
  -webkit-font-smoothing: antialiased;
  padding: 0 var(--hds-spacing-24-32);

  &, /* Default */
  &.hds-navbar--default {
    --hds-navbar-height: 112px;
  }

  &.hds-navbar--service {
    --hds-navbar-height: 88px;

    @media (--large) {
      --hds-navbar-height: 112px;
    }
  }

  /**
   * Expandable menu
   */
  .hds-navbar__expandable-menu-content {
    z-index: 1;
    min-height: 0;
    width: 100%;
    position: absolute;
    top: var(--hds-navbar-height);
    left: 0;
    display: grid;
    background-color: white;

    --_animation-time: var(--hds-micro-animation-duration-quick);

    transition-property: grid-template-rows, min-height;
    transition-duration: var(--_animation-time);

    .hds-navbar__expandable-menu-content-inner {
      transition-property: opacity;
      transition-duration: var(--_animation-time);
      transition-timing-function: var(--hds-micro-animation-easing-normal);
      overflow: hidden;
    }

    &[data-state="open"] {
      grid-template-rows: 1fr;
      transition-timing-function: var(--hds-micro-animation-easing-out);

      &, /* Default */
     .hds-navbar__expandable-menu-content--fullscreen {
        min-height: calc(100vh - var(--hds-navbar-height));
        max-height: calc(100vh - var(--hds-navbar-height));
      }

      .hds-navbar__expandable-menu-content-inner {
        opacity: 1;
        transition-delay: var(--_animation-time);
        overflow-y: auto;
      }
    }

    &[data-state="closed"] {
      grid-template-rows: 0fr;
      transition-timing-function: var(--hds-micro-animation-easing-in);
      transition-delay: var(--_animation-time);

      .hds-navbar__expandable-menu-content-inner {
        opacity: 0;
      }
    }
  }

  .hds-navbar__item {
    color: inherit;
    background-color: transparent;
    text-decoration: none;
    display: inline-flex;
    column-gap: var(--hds-spacing-8);
    justify-content: center;
    align-items: center;
    font: var(--hds-typography-body);
    border: 0;
    padding: var(--hds-spacing-16);

    &:last-child,
    &:not(:has(~ .hds-navbar__item)) {
      padding-right: 0;
    }

    &:hover {
      color: var(--hds-link-colors-hover);
    }

    .hds-navbar__item-icon {
      width: var(--hds-spacing-32);
      height: var(--hds-spacing-32);

      > * {
        vertical-align: text-bottom;
      }
    }

    &.hds-navbar__item--open {
      .hds-navbar__item-whenclosedtext {
        height: 0;
      }
    }

    &.hds-navbar__item--closed {
      .hds-navbar__item-whenopentext {
        height: 0;
      }
    }

    .hds-navbar__item-responsive-text {
      display: block;
      text-align: right;

      * {
        white-space: nowrap;
        display: block;
        overflow-y: hidden;
      }
    }

    @media (--before-large) {
      .hds-navbar__item-icon {
        width: var(--hds-spacing-24);
        height: var(--hds-spacing-24);
      }
    }

    @media (--before-large) {
      .hds-navbar__item-responsive-text {
        display: none;
      }
    }
  }

  /* Navigation controls */
  .hds-navbar__navigation {
    display: flex;
  }

  /* Logo */
  .hds-navbar__logo {
    display: block;
    background-image: var(--_hds-logo-primary);
    width: var(--_hds-logo-primary-width);
    height: var(--_hds-logo-primary-height);
  }

  /**
   * Text next to logo for the service and flagship variants
   */
  .hds-navbar__logo-and-service-text {
    display: flex;
    flex-direction: row-reverse;
    align-self: stretch;
    align-items: center;

    /* Height */
    height: 45px;

    @media (--large) {
      height: 60px;
    }

    /**
     * Never wrap the header text.
     * If it's to long it should be shortened or other menu items should be removed.
     */
    white-space: nowrap;

    /* Offset text so it matches the baseline */
    margin-top: 21.5px;

    @media (--medium) {
      margin-top: 25.5px;
    }

    @media (--large) {
      margin-top: 32px;
    }

    /* Logo */
    &::before {
      align-self: flex-start;
      content: "";
      order: 1;

      /* Mobile */
      margin-top: -6.5px;
      background-image: var(--_hds-logo-secondary);
      width: var(--_hds-logo-secondary-width);
      height: var(--_hds-logo-secondary-height);

      /* Tablet */
      @media (--medium) {
        margin-top: 0;
        background-image: var(--_hds-logo-primary);
        background-size: contain;
        width: calc(var(--_hds-logo-primary-width) / 1.3333);
        height: calc(var(--_hds-logo-primary-height) / 1.3333);
      }

      /* Desktop */
      @media (--large) {
        margin-top: 0;
        background-image: var(--_hds-logo-primary);
        width: var(--_hds-logo-primary-width);
        height: var(--_hds-logo-primary-height);
      }
    }

    /* Reset `a` styling */
    &,
    a {
      text-decoration: none;
      color: inherit;
    }

    /* Divider and Text */
    &::after {
      align-self: stretch;
      content: "";
      border-right: 1px solid var(--hds-ui-colors-grey);
      margin-left: var(--hds-spacing-24);
      margin-right: var(--hds-spacing-24);
    }

    &, /* Default */
    &.hds-navbar__logo-and-service-text--service {
      font: var(--hds-typography-h3);
      color: var(--hds-ui-colors-black);
    }

    &.hds-navbar__logo-and-service-text--flagship {
      font: var(--hds-typography-h2);
      color: var(--hds-colors-darker);
    }
  }
}

/*
 * When the navbar is open we don't want the rest of the page to be scrollable
 * Apply this class to the body when the navbar is open
 */
.hds-navbar-scroll-lock {
  overflow: hidden;
}
