@mixin button {
  -webkit-font-smoothing: antialiased;
  -webkit-appearance: button;
  box-sizing: border-box;
  display: inline-block;
  padding: var(--hwc-spacing-small-3) var(--hwc-spacing-medium-2);
  margin-top: 3px;
  margin-right: var(--hwc-spacing-small-4);
  border-radius: var(--hwc-border-radius);
  border-width: 0px;
  background: var(--hwc-color-gray-normal);
  border-color: var(--hwc-color-gray-normal);
  color: var(--hwc-color-button-text);
  fill: var(--hwc-color-button-text);
  font-family: var(--hwc-font-primary-medium);
  font-size: var(--hwc-font-size-small);
  line-height: var(--hwc-font-size-p);
  transition: all var(--hwc-transition-time-quick)
    var(--hwc-transition-easing-normal);
  text-align: center; /* Center text when this is an <a> */
  cursor: pointer;
  word-break: normal;
}
