@use "base";
/**
 * Block
 */

.hwc-button {
  @include base.button;

  &:last-of-type {
    margin-right: 0;
  }

  &:disabled,
  &[disabled],
  &[disabled]:active {
    color: var(--hwc-color-gray-dark) !important;
    fill: var(--hwc-color-gray-dark) !important;
    background: var(--hwc-color-gray-normal) !important;
    border-color: var(--hwc-color-gray-normal) !important;
    outline: 0 !important;
    box-shadow: none !important;
    cursor: default;
  }

  /**
     * Modifiers: sizes
     */

  &--large {
    font-size: 18px;
    height: 58px;
    padding: 19px 24px;
    i,
    svg {
      margin-right: 12px;
    }
  }

  &--medium {
    font-size: 18px;
    height: 50px;
    padding: 15px 20px;
    i,
    svg {
      margin-right: 10px;
    }
  }

  &--small {
    font-size: 16px;
    height: 44px;
    padding: 12px 16px;
    i,
    svg {
      margin-right: 8px;
    }
  }

  &--full {
    width: 100%;
  }

  /**
    * Responsive modifiers
    */

  &--mobile-full {
    @media (--max-medium) {
      width: 100%;
    }
  }

  /**
     * Modifiers: types
     */

  &--primary {
    background: var(--hwc-color-primary);
    border-color: var(--hwc-color-primary);
    color: var(--hwc-color-button-text);
    fill: var(--hwc-color-button-text);

    &:hover,
    &:active {
      background: var(--hwc-color-button-primary-hover);
      border-color: var(--hwc-color-primary);
      outline: 0px solid var(--hwc-color-button-primary-hover);
    }

    &:active {
      background: var(--hwc-color-primary) !important;
    }
  }

  &--secondary {
    background: var(--hwc-color-primary-darker);
    border-color: var(--hwc-color-primary-darker);
    color: var(--hwc-color-white);
    fill: var(--hwc-color-white);

    &:hover,
    &:active {
      background: var(--hwc-color-black);
      outline: 0px solid var(--hwc-color-black);
    }

    &:active {
      background: var(--hwc-color-primary-darker) !important;
    }
  }

  &--outline {
    background: transparent;
    color: var(--hwc-color-primary-dark);
    fill: var(--hwc-color-primary-dark);
    border: var(--hwc-border-thickness) solid var(--hwc-color-primary-dark);

    &:disabled,
    &[disabled],
    &[disabled]:active {
      background: none !important;
    }

    &:hover,
    &:active {
      color: var(--hwc-color-black);
      fill: var(--hwc-color-black);
      border-color: var(--hwc-color-black);
      background: none;
    }

    &:active {
      border-color: var(--hwc-color-gray-dark);
    }
  }

  &--outline-dark {
    @extend .hwc-button--outline-secondary;
  }

  &--outline-white {
    background: transparent;
    border: var(--hwc-border-thickness) solid var(--hwc-color-primary-light);
    color: var(--hwc-color-white);
    fill: var(--hwc-color-white);
    outline-offset: 3px;

    &:hover,
    &:active {
      color: var(--hwc-color-primary-light);
      fill: var(--hwc-color-primary-light);
    }
  }

  &--outline-primary {
    background: transparent;
    border: var(--hwc-border-thickness) solid var(--hwc-color-primary);
    color: var(--hwc-color-black);
    fill: var(--hwc-color-black);
    outline-offset: 3px;

    &:hover,
    &:active {
      color: var(--hwc-color-primary-dark);
      fill: var(--hwc-color-primary-dark);
      border: var(--hwc-border-thickness) solid var(--hwc-color-primary-dark);
    }
    &:disabled,
    &[disabled],
    &[disabled]:active {
      border: var(--hwc-border-thickness) solid var(--hwc-color-gray-normal);
      color: var(--hwc-color-gray-dark);
      fill: var(--hwc-color-gray-dark);
      background: transparent !important;
    }
  }

  &--outline-secondary {
    background: transparent;
    border: var(--hwc-border-thickness) solid var(--hwc-color-primary-darker);
    color: var(--hwc-color-primary-darker);
    fill: var(--hwc-color-primary-darker);
    outline-offset: 3px;

    &:hover,
    &:active {
      color: var(--hwc-color-black);
      fill: var(--hwc-color-black);
      border: var(--hwc-border-thickness) solid var(--hwc-color-black);
      /*outline: 0px solid var(--hwc-color-white);*/
    }
    &:disabled,
    &[disabled],
    &[disabled]:active {
      border: var(--hwc-border-thickness) solid var(--hwc-color-gray-normal);
      color: var(--hwc-color-gray-dark);
      fill: var(--hwc-color-gray-dark);
      background: transparent !important;
    }
  }

  &--stripped {
    background: none;
    fill: var(--hwc-color-gray-dark);
    color: var(--hwc-color-gray-dark);

    &:hover {
      fill: var(--hwc-color-gray-dark);
      color: var(--hwc-color-gray-dark);
    }
  }
  &--chat {
    width: 60px;
    height: 60px;
    margin: 0px;
    padding: 10px 10px 8px;
    border-radius: 50%;
    background: var(--hwc-color-primary-light);
    color: var(--hwc-color-primary-darker);

    &:hover,
    &:active {
      color: var(--hwc-color-primary-darker);
      fill: var(--hwc-color-primary-darker);
      border-color: var(--hwc-color-button-primary-light-hover);
      background: var(--hwc-color-button-primary-light-hover);
    }

    &:active {
      background: var(--hwc-color-button-primary-light-hover);
    }
  }
  &--chat-fixed {
    position: fixed;
    bottom: 12px;
    right: 12px;
    z-index: var(--z-index--stickynav);
    @extend .hwc-button--chat;
  }
}
