.hds-error-summary {
  color: var(--hds-colors-error-base-contrast-default);
  background-color: var(--hds-colors-error-base-default);
  display: flex;
  flex-direction: column;
  gap: var(--hds-spacing-12);

  .hds-error-summary__title {
    font: var(--hds-typography-body-title);
  }

  .hds-error-summary__list-item::marker {
    color: var(--hds-colors-error-base-contrast-default);
  }
}
