@import url("../_custom-media.css");
@import url("../_icons.css");

.hds-box.hds-message {
  --hds-component-message-icon-width: var(--hds-spacing-32);
  --hds-component-message-spacing-between: var(--hds-spacing-16);

  @media (--medium) {
    --hds-component-message-spacing-between: var(--hds-spacing-24);
  }

  /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties -- Comes from `box.css` */
  --hds-component-message-padding: var(--hds-component-box-padding);

  padding-left: calc(
    var(--hds-component-message-padding) + var(--hds-component-message-icon-width) +
      var(--hds-component-message-spacing-between)
  );

  /* Icon placement */
  &::before {
    content: "";
    position: absolute;
    top: var(--hds-component-message-padding);
    left: var(--hds-component-message-padding);
    width: var(--hds-component-message-icon-width);
    height: var(--hds-component-message-icon-width);
  }

  &.hds-message--success {
    background-color: var(--hds-ui-colors-light-grey-fill);

    &::before {
      background-image: var(--_hds-success-green);
    }
  }

  &.hds-message--attention {
    background-color: var(--hds-ui-colors-warning-yellow-light-fill);

    &::before {
      background-image: var(--_hds-warning-hollow);
    }
  }

  &.hds-message--warning {
    background-color: var(--hds-ui-colors-warning-yellow);

    &::before {
      background-image: var(--_hds-warning-black);
    }
  }

  &.hds-message--neutral {
    background-color: var(--hds-ui-colors-light-grey-fill);

    /* stylelint-disable-next-line selector-class-pattern -- Custom icon is only available for the neutral variant */
    .hds-message--neutral__icon {
      position: absolute;
      top: var(--hds-component-message-padding);
      left: var(--hds-component-message-padding);
      width: var(--hds-component-message-icon-width);
    }
  }

  /* Reset margin */
  & .hds-message__title,
  & .hds-message__description {
    margin: 0;
  }

  /* Offset to match the icon */
  & *:is(.hds-message__title, .hds-message__description):first-of-type {
    margin-top: 2px;
  }

  & .hds-message__title {
    font: var(--hds-typography-body-title);
  }

  & .hds-message__title ~ .hds-message__description {
    margin-top: var(--hds-spacing-12);

    @media (--large) {
      margin-top: var(--hds-spacing-16);
    }
  }
}
