@import url("../../_icons.css");

.hds-error-message {
  font: var(--hds-typography-caption-title);
  color: var(--hds-ui-colors-dark-grey);
  padding: var(--hds-spacing-8) 0 0 var(--hds-spacing-40);

  /* Avoid spacing when no errors are active, but keep the element always in DOM so `aria-live` works */
  &:empty {
    display: none;
  }

  &:not(:empty) {
    background-image: var(--_hds-warning-yellow);
    background-repeat: no-repeat;
    background-position-x: var(--hds-spacing-8);
    background-position-y: var(--hds-spacing-4);
  }
}
