.hds-search-wrapper {
  display: grid;
  grid-template-columns: minmax(0, 1fr) auto;
  gap: var(--hds-spacing-4) var(--hds-spacing-8);

  > .hds-input-group {
    display: contents;
  }

  > .hds-button {
    grid-column: 2;
    grid-row: 1;
    align-self: start;
  }

  &:has(.hds-input-group__label:not(:empty)) > .hds-button {
    grid-row: 2;
  }

  .hds-input-group__label,
  .hds-input-group__input-wrapper,
  .hds-error-message {
    grid-column: 1;
  }
}
