@import url("../_custom-media.css");
@import url("../_icons.css");
@import url("../spacing/spacing.css");

.hds-box {
  position: relative;
  border-radius: var(--hds-border-radius);

  &, /* Default */
  &.hds-box--light-grey {
    background-color: var(--hds-ui-colors-light-grey-fill);
  }

  &.hds-box--lighter {
    background-color: var(--hds-colors-lighter);
  }

  &.hds-box--white {
    background-color: var(--hds-ui-colors-white);
    box-shadow: var(--hds-shadow-default);
  }

  &.hds-box--warning {
    background-color: var(--hds-ui-colors-warning-yellow);
  }

  /* Padding */
  --hds-component-box-padding: var(--hds-spacing-24-32);

  padding: var(--hds-component-box-padding);

  /* Closed state */
  &.hds-box--closed {
    display: none;
  }
}

/**
 * Close button
 * TODO: Styling for the hover and focus effect can be improved upon
 */
.hds-box .hds-box__close-button {
  --hds-close-button-padding: var(--hds-spacing-8);

  /* Icon */
  width: calc(24px + var(--hds-close-button-padding));
  height: calc(24px + var(--hds-close-button-padding));
  background-color: transparent;
  background-image: var(--_hds-icons-times);
  background-position: center;

  /* Positioning */
  position: absolute;
  top: calc(var(--hds-spacing-16) - var(--hds-close-button-padding) / 2);
  right: calc(var(--hds-spacing-16) - var(--hds-close-button-padding) / 2);
  padding: 0;
  border: none;
  border-radius: var(--hds-border-radius);
  cursor: pointer;

  /* Hover effect */
  transition: filter var(--hds-micro-animation-duration-quick)
    var(--hds-micro-animation-easing-normal);

  &:hover {
    background-color: rgb(0 0 0 / 10%);
  }

  /* Active effect */
  &:active {
    background-color: rgb(0 0 0 / 20%);

    /* outline: none; */
  }

  /* Keyboard focus */
  &:focus-visible {
    outline: 2px solid transparent;
    outline-offset: 2px;
    box-shadow: 0 0 0 2px var(--hds-ui-colors-black-hover);
  }
}
