@import url("../_custom-media.css");
@import url("../_icons.css");
@import url("../spacing/spacing.css");

.hds-box {
  --_box-background-color: var(--hds-colors-base-default);
  --_box-color: var(--hds-colors-base-contrast-default);

  position: relative;
  border-radius: var(--hds-border-radius-16);
  background-color: var(--_box-background-color);
  color: var(--_box-color);

  &.hds-box--lighter {
    --_box-background-color: var(--hds-colors-surface-default);
    --_box-color: var(--hds-colors-neutral-text-default);
  }

  &.hds-box--white {
    --_box-background-color: var(--hds-colors-neutral-surface-default);
    --_box-color: var(--hds-colors-neutral-text-default);

    box-shadow: var(--hds-shadow-default);
  }

  /* Padding */
  --hds-component-box-padding: var(--hds-spacing-20-24);

  padding: var(--hds-component-box-padding);

  /* Closed state */
  & button.hds-button.hds-box--closed {
    display: none;
  }
}

/**
 * Close button
 * TODO: Styling for the hover and focus effect can be improved upon
 */
.hds-box .hds-box__close-button {
  --hds-close-button-padding: var(--hds-spacing-8);

  color: var(--_box-color);
  background-color: transparent;
  border: none;

  /* Positioning */
  position: absolute;
  top: calc(var(--hds-spacing-16) - var(--hds-close-button-padding) / 2);
  right: calc(var(--hds-spacing-16) - var(--hds-close-button-padding) / 2);

  &:hover {
    background-color: rgb(0 0 0 / 10%);
  }

  /* Keyboard focus */
  &:focus-visible {
    outline: 2px solid transparent;
    outline-offset: 2px;
    box-shadow: 0 0 0 2px #0000;
  }
}
