@media (max-width: 939.999px) {
  .hidden-before-large {
    display: none !important;
  }
}

@media (min-width: 940px) {
  .hidden-after-large {
    display: none !important;
  }
}

@media (max-width: 719.999px) {
  .hidden-before-medium {
    display: none !important;
  }
}

@media (min-width: 720px) {
  .hidden-after-medium {
    display: none !important;
  }
}
