@import url("../_custom-media.css");

.hds-accordion {
  --hds-accordion-icon-dimension: 24px;
  --hds-component-accordion-content-spacing: var(--hds-spacing-medium-3);
  --hds-component-accordion-header-spacing-between: var(--hds-spacing-small-4);

  @media (--medium) {
    --hds-component-accordion-content-spacing: var(--hds-spacing-large-1);
    --hds-component-accordion-header-spacing-between: var(--hds-spacing-medium-2);
  }

  display: block;
  border: none;
  border-bottom: var(--hds-stroke-default) solid var(--hds-ui-colors-light-grey-stroke);
  font: var(--hds-typography-body);
  fill: var(--hds-ui-colors-black);
  color: var(--hds-ui-colors-black);

  .hds-accordion-item {
    overflow: hidden;

    &.hds-accordion-item__expanded .hds-accordion-item-header {
      color: var(--hds-colors-dark);
    }

    &:first-child .hds-accordion-item-header {
      border: 0 none;
    }

    .hds-accordion-item-header {
      cursor: pointer;
      display: grid;
      grid-template-columns: 24px auto;
      grid-gap: var(--hds-spacing-small-4);
      width: 100%;
      padding: var(--hds-component-accordion-header-spacing-between) 0;
      border: 0;
      border-top: var(--hds-stroke-default) solid var(--hds-ui-colors-light-grey-stroke);
      text-align: left;
      background-color: transparent;
      font: var(--hds-typography-body);

      &:hover {
        color: var(--hds-colors-dark);
        outline: 0;
      }

      .hds-accordion-item-header--icon {
        transition: all 0.05s ease;
        display: inline-block;
        color: var(--hds-colors-dark);
        width: var(--hds-accordion-icon-dimension);
        height: var(--hds-accordion-icon-dimension);

        .hds-accordion-item-header--icon-chevron,
        .hds-accordion-item-header--icon-chevron-down {
          color: var(--hds-colors-dark);
          fill: var(--hds-colors-dark);
        }

        & svg {
          vertical-align: baseline;
        }
      }

      &.hds-accordion-item-header--open {
        .hds-accordion-item-header--icon svg {
          transform: rotate(180deg);
        }
      }
    }

    .hds-accordion-item-content {
      padding: 0 0 var(--hds-component-accordion-content-spacing) var(--hds-spacing-medium-4);
      font: var(--hds-typography-body-small);

      /*
       * Animate open/close
       * https://keithjgrant.com/posts/2023/04/transitioning-to-height-auto/
       */
      display: grid;
      grid-template-rows: 1fr;
      transition-property: grid-template-rows, padding-bottom;
      transition-duration: var(--hds-micro-animation-duration-quick);
      transition-timing-function: var(--hds-micro-animation-easing-normal);

      &.hds-accordion-item-content--closed {
        padding-bottom: 0;
        grid-template-rows: 0fr;
      }

      .hds-accordion-item-content-inner {
        overflow: hidden;
      }
    }
  }

  &.hds-accordion--no-indent {
    .hds-accordion-item {
      .hds-accordion-item-content {
        padding-left: 0;
      }
    }
  }
}
