.hds-accordion {
  --hds-accordion-icon-dimension: 24px;
  --hds-component-accordion-trigger-spacing-between: var(--hds-spacing-small-4);
  --hds-component-accordion-content-spacing: var(--hds-spacing-medium-3);

  @media (width >= 720px) {
    --hds-component-accordion-content-spacing: var(--hds-spacing-large-1);
    --hds-component-accordion-trigger-spacing-between: var(--hds-spacing-medium-2);
  }

  display: block;
  border: none;
  border-bottom: var(--hds-stroke-thick) solid var(--hds-ui-colors-light-grey-fill);
  font: var(--hds-typography-body);
  fill: var(--hds-ui-colors-black);
  color: var(--hds-ui-colors-black);

  .hds-accordion-item {
    overflow: hidden;

    &.hds-accordion-item__expanded .hds-accordion-item-trigger {
      color: var(--hds-brand-colors-dark);
    }

    &:first-child .hds-accordion-item-trigger {
      border: 0 none;
    }

    .hds-accordion-item-trigger {
      cursor: pointer;
      display: grid;
      grid-template-columns: 24px auto;
      grid-gap: var(--hds-spacing-small-4);
      width: 100%;
      padding: var(--hds-component-accordion-trigger-spacing-between) 0;
      border: 0;
      border-top: var(--hds-stroke-thick) solid var(--hds-ui-colors-light-grey-fill);
      text-align: left;
      background-color: transparent;
      font: var(--hds-typography-body);

      &:hover {
        color: var(--hds-brand-colors-dark);
        outline: 0;
      }

      .hds-accordion-item-trigger--icon {
        transition: all 0.05s ease;
        display: inline-block;
        color: var(--hds-brand-colors-dark);
        width: var(--hds-accordion-icon-dimension);
        height: var(--hds-accordion-icon-dimension);

        .hds-accordion-item-trigger--icon-chevron,
        .hds-accordion-item-trigger--icon-chevron-down {
          color: var(--hds-brand-colors-dark);
          fill: var(--hds-brand-colors-dark);
        }

        & svg {
          vertical-align: baseline;
        }
      }

      &.hds-accordion-item-trigger--open {
        .hds-accordion-item-trigger--icon svg {
          transform: rotate(180deg);
        }
      }
    }

    .hds-accordion-item-content {
      padding: 0 0 var(--hds-component-accordion-content-spacing) var(--hds-spacing-medium-4);
      font: var(--hds-typography-body-small);

      &.hds-accordion-item-content--closed {
        display: none;
      }
    }
  }
}
