.hds-input {
  display: flex;
  flex-flow: column nowrap;
  gap: var(--hds-spacing-small-1);

  &.hds-input--error {
    .hds-input__input-wrapper,
    .hds-input__input-wrapper:focus-within,
    .hds-input__input-wrapper[aria-readonly="true"],
    .hds-input__input-wrapper[aria-readonly="true"]:focus-within,
    .hds-input__input-wrapper[aria-disabled="true"] {
      border-bottom: var(--hds-stroke-thick) solid var(--hds-ui-colors-warning-yellow);
      margin-bottom: calc(var(--hds-stroke-thick) - var(--hds-stroke-default));
    }
  }

  &.hds-input--default {
    .hds-input__input-wrapper {
      background-color: var(--hds-ui-colors-light-grey-fill);
    }
  }

  &.hds-input--white {
    .hds-input__input-wrapper {
      background-color: var(--hds-ui-colors-white);
    }
  }

  &:focus-within .hds-input__label {
    color: var(--hds-brand-colors-darker);
  }

  & .hds-input__label {
    transition: color var(--hds-micro-animation-duration-quick)
      var(--hds-micro-animation-easing-normal);
    font: var(--hds-typography-caption);
  }

  &:has(.hds-input__input:read-only, .hds-input__input:disabled):not(:focus-within)
    .hds-input__label {
    color: var(--hds-ui-colors-dark-grey);
  }

  & .hds-input__input-wrapper {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    border: var(--hds-stroke-default) solid transparent;
    border-radius: var(--hds-border-radius);
    transition:
      border var(--hds-micro-animation-duration-quick) var(--hds-micro-animation-easing-normal),
      margin var(--hds-micro-animation-duration-quick) var(--hds-micro-animation-easing-normal);
    box-sizing: border-box;

    &:focus-within,
    &[aria-readonly="true"]:focus-within {
      border-bottom: var(--hds-stroke-default) solid var(--hds-brand-colors-darker);
    }

    &[aria-readonly="true"],
    &[aria-disabled="true"] {
      color: var(--hds-ui-colors-dark-grey);
      background-color: var(--hds-ui-colors-grey);
      border: var(--hds-stroke-default) solid var(--hds-ui-colors-grey);
    }
  }

  & .hds-input__input {
    color: var(--hds-ui-colors-black);
    width: 100%;
    padding: var(--hds-spacing-small-4);
    font: var(--hds-typography-body-small);
    line-height: normal;
    border: 0;
    background: transparent;

    &::placeholder {
      color: var(--hds-ui-colors-dark-grey);
      opacity: 1;
    }

    &:focus {
      outline: 0;

      &::placeholder {
        color: var(--hds-ui-colors-grey);
      }
    }

    &:read-only:focus::placeholder {
      color: var(--hds-ui-colors-dark-grey);
    }
  }

  & .hds-input__error-icon {
    padding: var(--hds-spacing-small-4) var(--hds-spacing-small-4) var(--hds-spacing-small-4) 0;
  }

  & .hds-input__error-message {
    font: var(--hds-typography-caption-title);
    color: var(--hds-ui-colors-dark-grey);
    padding: var(--hds-spacing-small-1) 0 0 var(--hds-spacing-small-4);
  }
}
