@import url("../_custom-media.css");
@import url("../_icons.css");
@import url("../spacing/spacing.css");
@import url("./fullwidth-focus.css");

/* stylelint-disable selector-class-pattern */
.hds-card {
  position: relative;
  border-bottom: initial;
  text-decoration: initial;

  --hds-card-text-color: var(--hds-colors-neutral-text-default);

  /** Default background-color */
  background-color: var(--hds-colors-surface-default);
  border-radius: var(--hds-border-radius-16);
  display: flex;
  flex-direction: column;
  color: var(--hds-card-text-color);
  padding: var(--hds-spacing-20-24);
  max-width: 560px;
  gap: var(--hds-spacing-12-16);

  .hds-card__media {
    border-radius: var(--hds-border-radius-8);
    overflow: hidden;
    min-height: 120px;
    max-height: 350px;
    flex: 3 1 auto;
  }

  .hds-card__media__img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    &.hds-card__img__scale {
      object-fit: contain;
    }
  }

  .hds-card__body {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .hds-card__body-header {
    margin-top: 0;
    margin-bottom: 0;
  }

  .hds-card__body-header-overline {
    display: block;
    margin-bottom: var(--hds-spacing-4-8);
    color: var(--hds-colors-text-subtle);
    font-size: var(--hds-font-size-body-title);
    font-weight: var(--hds-font-weight-body-title);
    line-height: var(--hds-line-height-body-title);
  }

  .hds-card__body-header-title {
    font-size: var(--hds-font-size-h2);
    font-weight: var(--hds-font-weight-h1);
    line-height: var(--hds-line-height-h2);
    color: var(--hds-card-text-color);
    text-decoration: none;
  }

  .hds-card__body-description {
    margin-top: var(--hds-spacing-8-12);
    margin-bottom: auto;
    font-size: var(--hds-font-size-body);
    font-weight: var(--hds-font-weight-body);
    line-height: var(--hds-line-height-body);
  }

  .hds-card__body-action {
    width: fit-content;
    margin-top: var(--hds-spacing-8-12);
  }

  .hds-card__body-action:not(.hds-button),
  .hds-card__body-action-arrow {
    display: inline-block;
  }

  .hds-card__body-action:hover {
    .hds-card__body-action-arrow {
      transform: translateX(2px);
      background-color: var(--hds-colors-neutral-text-default);
    }

    .hds-card__body-action-arrow-up-right {
      transform: rotate(-45deg) translateX(2px);
    }
  }

  .hds-card__body-action:first-child {
    margin-top: 0;
  }

  .hds-card__body-action-arrow {
    background-image: none;
    mask-image: var(--_hds-icons-arrow-right);
    background-color: var(--hds-colors-neutral-text-default);
    width: var(--hds-spacing-20);
    height: var(--hds-spacing-20);
    border-bottom: none;
    margin-right: 10px;
    transform: translateX(0);
    transition: transform var(--hds-micro-animation-duration-quick)
      var(--hds-micro-animation-easing-normal);
  }

  .hds-card__body-action-arrow-up-right {
    transform: rotate(-45deg);
  }
}

.hds-card--color-brand-default {
  background-color: var(--hds-colors-surface-default);
}

.hds-card--color-brand-tinted {
  background-color: var(--hds-colors-surface-tinted);
}

.hds-card--color-brand-base {
  background-color: var(--hds-colors-base-default);

  --hds-card-text-color: var(--hds-colors-base-contrast-default);
}

.hds-card--color-neutral-default {
  background-color: var(--hds-colors-neutral-surface-default);
}

.hds-card--color-neutral-tinted {
  background-color: var(--hds-colors-neutral-surface-tinted);
}

.hds-card--color-neutral-base {
  background-color: var(--hds-colors-neutral-base-default);
}

/** @deprecated */
.hds-card--color-white {
  background-color: var(--hds-colors-neutral-surface-default);
}

/** @deprecated Use hds-card--color-neutral-default instead */
.hds-card--color-light-grey-fill {
  background-color: var(--hds-colors-neutral-base-default);
}

/** @deprecated Use hds-card--color-brand- */
.hds-card--color-darker {
  background-color: var(--hds-colors-surface-tinted);
}

/** @deprecated */
.hds-card--color-dark {
  background-color: var(--hds-colors-base-active);
}

.hds-card--miniature {
  flex-direction: row;

  .hds-card__media {
    min-width: 60px;
    min-height: 60px;
    max-height: 60px;
    max-width: 60px;
    object-fit: cover;
    background-color: var(--hds-ui-colors-white);
  }

  .hds-card__body {
    flex-basis: min-content;
    padding-top: 0;

    .hds-card__body-header-title {
      font-size: var(--hds-font-size-body-title);
      font-weight: var(--hds-font-weight-body-title);
      line-height: var(--hds-line-height-body-title);
    }

    .hds-card__body-action:only-child {
      margin-top: auto;
      margin-bottom: auto;
    }
  }
}

.hds-card--slim,
.hds-card--miniature {
  .hds-card__centerbody {
    height: 100%;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
  }
}
