/* stylelint-disable selector-class-pattern */
.hds-card {
  position: relative;
  background: var(--hds-brand-colors-lighter);
  border-radius: var(--hds-border-radius);
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
  color: var(--hds-ui-colors-black);

  &:hover {
    box-shadow: 0 1px 3px 0 rgba(0 0 0 / 12%);

    &::after {
      opacity: 1;
    }
  }

  .hds-card__media {
    width: fit-content;

    .hds-card__media__img {
      width: 100%;
    }
  }

  .hds-card__body {
    padding: var(--hds-spacing-medium-2);
  }

  .hds-card__overline {
    font-size: var(--hds-font-size-body-small-max);
    color: var(--hds-brand-colors-dark);
    margin-top: 0;
    margin-bottom: 0;
  }

  .hds-card__title {
    margin-top: var(--hds-spacing-small-1);
    margin-bottom: var(--hds-spacing-small-1);
    font-size: var(--hds-brand-font-size-h2-min);
    font-weight: var(--hds-font-weight-header-h3);
    line-height: var(--hds-spacing-medium-4);
  }
}
