@import url("../_custom-media.css");
@import url("../_icons.css");
@import url("../spacing/spacing.css");

/* stylelint-disable selector-class-pattern */
.hds-card {
  position: relative;
  border-bottom: initial;
  text-decoration: initial;
  background: var(--hds-colors-lighter);
  border-radius: var(--hds-border-radius-16);
  transition: box-shadow var(--hds-micro-animation-duration-normal)
    var(--hds-micro-animation-easing-normal);
  display: flex;
  flex-direction: column;
  color: var(--hds-ui-colors-black);
  padding: var(--hds-spacing-20-24);

  &:hover {
    box-shadow: 0 1px 3px 0 rgba(0 0 0 / 12%);

    .hds-card__body-action-arrow {
      transform: translateX(6px);
    }

    &::after {
      opacity: 1;
    }
  }

  .hds-card__media {
    width: fit-content;

    .hds-card__media__img {
      border-radius: var(--hds-border-radius-8);
      width: 100%;
    }
  }

  .hds-card__body {
    padding: var(--hds-spacing-24-32);
    height: 100%;

    &:hover {
      color: initial;
    }
  }

  .hds-card__body-header {
    margin-top: 0;
    margin-bottom: 0;
  }

  .hds-card__body-header-overline {
    display: block;
    color: var(--hds-colors-dark);
    font-family: var(--hds-fonts-posten-sans);
    font-size: var(--hds-font-size-technical-max);
    font-weight: var(--hds-font-weight-technical);
    line-height: var(--hds-line-height-technical-max);
  }

  .hds-card__body-header-title {
    font-size: var(--hds-font-size-h2-min);
    font-weight: var(--hds-font-weight-h3);
    line-height: var(--hds-line-height-h2-max);
    color: var(--hds-ui-colors-black);
    text-decoration: none;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }
  }

  .hds-card__body-description {
    margin-top: var(--hds-spacing-16-20);
    font-family: var(--hds-fonts-posten-sans);
    font-size: var(--hds-font-size-technical-max);
    font-weight: var(--hds-font-weight-technical);
    line-height: var(--hds-line-height-technical-max);
  }

  .hds-card__body-action,
  .hds-card__body-action-arrow {
    display: inline-block;
    margin-top: 16px;
  }

  .hds-card__body-action-arrow {
    background-image: var(--_hds-icons-arrow-right);
    width: 20px;
    height: 20px;
    border-bottom: none;
    transform: translateX(0);
    transition: transform var(--hds-micro-animation-duration-normal)
      var(--hds-micro-animation-easing-normal);
  }
}

.hds-card--horizontal {
  @media (--small) {
    flex-direction: row;

    .hds-card__media {
      width: 50%;
      padding-right: var(--hds-spacing-16);

      /** Image will be cropped on the sides if needed */
      .hds-card__media__img {
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .hds-card__body {
    padding: var(--hds-spacing-32-40);

    @media (--small) {
      width: 50%;
      height: auto;
    }
  }
}
