@import url("../_custom-media.css");
@import url("../spacing/spacing.css");

.hds-step-indicator {
  .hds-step-indicator__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .hds-step-indicator__left-label {
    color: var(--hds-colors-text-subtle);
  }

  .hds-step-indicator__steps {
    margin-top: var(--hds-spacing-8);
    display: flex;
    column-gap: var(--hds-spacing-4);

    .hds-step-indicator__step {
      width: 100%;
      border-radius: var(--hds-border-radius);
      height: var(--hds-spacing-4);

      &[data-state="previous"] {
        background-color: var(--hds-colors-border-default);
      }

      &[data-state="active"] {
        background-color: var(--hds-colors-border-default);
      }

      &[data-state="next"] {
        background-color: var(--hds-colors-neutral-border-default);
      }
    }
  }

  .hds-step-indicator__title {
    font: var(--hds-typography-h1);
    color: var(--hds-colors-text-default);

    &:not(:empty) {
      margin-top: var(--hds-spacing-24-32);
    }
  }
}
