name: Build and Publish Storybook to GitHub Pages

on:
  push:
    branches:
      - master

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v5

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: ".tool-versions"

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: "Build"
        shell: bash
        run: |
          echo "::group::Build"
          pnpm install
          pnpm build
          echo "::endgroup::"

      - name: "Move examples and examples-v3 apps build into storybook-static"
        run: |
          mv apps/examples/build/client/ apps/docs/storybook-static/examples
          mv apps/examples-v3/build/client/ apps/docs/storybook-static/examples-v3
          cp apps/docs/storybook-static/examples/index.html apps/docs/storybook-static/404.html

      - name: "upload"
        uses: actions/upload-pages-artifact@v4
        with:
          path: apps/docs/storybook-static

      - id: deploy
        name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
        with:
          token: ${{ github.token }}
