@import url("../../_icons.css");
@import url("../input-group/input-group.css");

.hds-date-picker {
  --hds-date-picker-background-size: 24px;

  .hds-input-group__input-wrapper {
    position: relative;

    .hds-date-picker__calendar-button {
      display: none;

      @supports selector(::-webkit-calendar-picker-indicator) {
        display: block;
      }

      height: calc(var(--hds-date-picker-background-size) + var(--hds-spacing-20));
      width: calc(var(--hds-date-picker-background-size) + var(--hds-spacing-20));
      background-color: var(--hds-ui-colors-dark-grey);
      mask-image: var(--_hds-icons-date);
      mask-size: var(--hds-date-picker-background-size);
      mask-position: 50% 50%;
      mask-repeat: no-repeat;
      position: absolute;
      top: 6px;
      right: 6px;
      border: 0;
      cursor: pointer;
    }

    &:has(.hds-input-group__input:read-only) {
      .hds-date-picker__calendar-button {
        display: none;
      }
    }
  }

  &:focus-within {
    .hds-date-picker__calendar-button {
      top: 5px;
      right: 5px;
    }
  }

  .hds-input-group__input {
    padding-right: calc(var(--hds-date-picker-background-size) + var(--hds-spacing-16));
    height: calc(var(--hds-spacing-16) * 2 + var(--hds-line-height-body-small-min));
    cursor: text;

    &::-webkit-calendar-picker-indicator {
      display: none;
    }
  }
}

.hds-date-picker.hds-input-group--small {
  --hds-date-picker-background-size: 20px;

  .hds-input-group__input-wrapper {
    & .hds-date-picker__calendar-button {
      height: calc(var(--hds-date-picker-background-size) + var(--hds-spacing-16));
      width: calc(var(--hds-date-picker-background-size) + var(--hds-spacing-16));
      top: 3px;
      right: 4px;
    }

    &:focus-within .hds-date-picker__calendar-button {
      top: 2px;
      right: 3px;
    }
  }

  .hds-input-group__input {
    height: calc(
      (var(--hds-spacing-12) - var(--hds-stroke-thick)) * 2 + var(--hds-line-height-technical-min)
    );
  }
}
